<a href="https://colab.research.google.com/github/jjefferson2006/DSWP_JJ_altera/blob/main/desafio_analise5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pycaret

Collecting pycaret
  Downloading https://files.pythonhosted.org/packages/f0/d0/390ff0f120c05795d45b353cedc81120f9c6558aae285a73e8fab62f322d/pycaret-2.2.1-py3-none-any.whl (248kB)
     |████████████████████████████████| 256kB 6.8MB/s
Requirement already satisfied: joblib in /usr/local/lib/python3.6/dist-packages (from pycaret) (0.17.0)
Requirement already satisfied: IPython in /usr/local/lib/python3.6/dist-packages (from pycaret) (5.5.0)
Requirement already satisfied: ipywidgets in /usr/local/lib/python3.6/dist-packages (from pycaret) (7.5.1)
Requirement already satisfied: wordcloud in /usr/local/lib/python3.6/dist-packages (from pycaret) (1.5.0)
Collecting pyLDAvis
  Downloading https://files.pythonhosted.org/packages/a5/3a/af82e070a8a96e13217c8f362f9a73e82d61ac8fff3a2561946a97f96266/pyLDAvis-2.1.2.tar.gz (1.6MB)
     |████████████████████████████████| 1.6MB 16.9MB/s
Requirement already satisfied: textblob in /usr/local/lib/python3.6/dist-packages (from pycaret) (0.15.3)
Requirement already satisfied: umap-learn in /usr/local/lib/python3.6/dist-packages (from pycaret) (0.4.6)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.6/dist-packages (from pycaret) (3.2.2)
Collecting pyod
  Downloading https://files.pythonhosted.org/packages/a3/4b/d2edd1e85b132d480feced17f044267b3e330391240779d78b1c3d378b24/pyod-0.8.3.tar.gz (96kB)
     |████████████████████████████████| 102kB 10.1MB/s
Collecting yellowbrick>=1.0.1
  Downloading https://files.pythonhosted.org/packages/1f/ad/ae6744ddb9c7053916bed95430152b9a41b7d410e16a1cc7cd744a611d90/yellowbrick-1.2-py3-none-any.whl (269kB)
     |████████████████████████████████| 276kB 21.3MB/s
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.6/dist-packages (from pycaret) (1.18.5)
Collecting imbalanced-learn>=0.7.0
  Downloading https://files.pythonhosted.org/packages/c8/81/8db4d87b03b998fda7c6f835d807c9ae4e3b141f978597b8d7f31600be15/imbalanced_learn-0.7.0-py3-none-any.whl (167kB)
     |████████████████████████████████| 174kB 22.9MB/s
Requirement already satisfied: mlxtend in /usr/local/lib/python3.6/dist-packages (from pycaret) (0.14.0)
Requirement already satisfied: plotly>=4.4.1 in /usr/local/lib/python3.6/dist-packages (from pycaret) (4.4.1)
Collecting catboost>=0.23.2
  Downloading https://files.pythonhosted.org/packages/52/39/128fff65072c8327371e3c594f3c826d29c85b21cb6485980353b168e0e4/catboost-0.24.2-cp36-none-manylinux1_x86_64.whl (66.1MB)
     |████████████████████████████████| 66.2MB 60kB/s
Requirement already satisfied: cufflinks>=0.17.0 in /usr/local/lib/python3.6/dist-packages (from pycaret) (0.17.3)
Requirement already satisfied: spacy in /usr/local/lib/python3.6/dist-packages (from pycaret) (2.2.4)
Collecting scikit-plot
  Downloading https://files.pythonhosted.org/packages/7c/47/32520e259340c140a4ad27c1b97050dd3254fdc517b1d59974d47037510e/scikit_plot-0.3.7-py3-none-any.whl
Requirement already satisfied: nltk in /usr/local/lib/python3.6/dist-packages (from pycaret) (3.2.5)
Collecting scikit-learn>=0.23.2
  Downloading https://files.pythonhosted.org/packages/5c/a1/273def87037a7fb010512bbc5901c31cfddfca8080bc63b42b26e3cc55b3/scikit_learn-0.23.2-cp36-cp36m-manylinux1_x86_64.whl (6.8MB)
     |████████████████████████████████| 6.8MB 32.4MB/s
Collecting mlflow
  Downloading https://files.pythonhosted.org/packages/7e/bf/3c6d95bb272e2dcf1bcd94a3fa9b8b0b2bbf825dd8782991fd87c83fec92/mlflow-1.12.0-py3-none-any.whl (13.9MB)
     |████████████████████████████████| 13.9MB 320kB/s
Requirement already satisfied: gensim in /usr/local/lib/python3.6/dist-packages (from pycaret) (3.6.0)
Collecting kmodes>=0.10.1
  Downloading https://files.pythonhosted.org/packages/b2/55/d8ec1ae1f7e1e202a8a4184c6852a3ee993b202b0459672c699d0ac18fc8/kmodes-0.10.2-py2.py3-none-any.whl
Collecting pandas-profiling>=2.8.0
  Downloading https://files.pythonhosted.org/packages/32/79/5d03ed1172e3e67a997a6a795bcdd2ab58f84851969d01a91455383795b6/pandas_profiling-2.9.0-py2.py3-none-any.whl (258kB)
     |████████████████████████████████| 266kB 37.8MB/s
Requirement already satisfied: seaborn in /usr/local/lib/python3.6/dist-packages (from pycaret) (0.11.0)
Collecting lightgbm>=2.3.1
  Downloading https://files.pythonhosted.org/packages/25/47/f8ef524e15ff86f5246cb4e1cee200b747ddb2536429fa021cc5f17ea40a/lightgbm-3.0.0-py2.py3-none-manylinux1_x86_64.whl (1.7MB)
     |████████████████████████████████| 1.8MB 35.1MB/s
Collecting xgboost>=1.1.0
  Downloading https://files.pythonhosted.org/packages/35/cc/fd3d5fc6b6616a03385a0f6492cc77a253940d1026406ecc07597095e381/xgboost-1.2.1-py3-none-manylinux2010_x86_64.whl (148.9MB)
     |████████████████████████████████| 148.9MB 87kB/s
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from pycaret) (1.1.4)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.6/dist-packages (from IPython->pycaret) (0.7.5)
Requirement already satisfied: decorator in /usr/local/lib/python3.6/dist-packages (from IPython->pycaret) (4.4.2)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.4 in /usr/local/lib/python3.6/dist-packages (from IPython->pycaret) (1.0.18)
Requirement already satisfied: simplegeneric>0.8 in /usr/local/lib/python3.6/dist-packages (from IPython->pycaret) (0.8.1)
Requirement already satisfied: pygments in /usr/local/lib/python3.6/dist-packages (from IPython->pycaret) (2.6.1)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.6/dist-packages (from IPython->pycaret) (4.3.3)
Requirement already satisfied: pexpect; sys_platform != "win32" in /usr/local/lib/python3.6/dist-packages (from IPython->pycaret) (4.8.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.6/dist-packages (from IPython->pycaret) (50.3.2)
Requirement already satisfied: nbformat>=4.2.0 in /usr/local/lib/python3.6/dist-packages (from ipywidgets->pycaret) (5.0.8)
Requirement already satisfied: ipykernel>=4.5.1 in /usr/local/lib/python3.6/dist-packages (from ipywidgets->pycaret) (4.10.1)
Requirement already satisfied: widgetsnbextension~=3.5.0 in /usr/local/lib/python3.6/dist-packages (from ipywidgets->pycaret) (3.5.1)
Requirement already satisfied: pillow in /usr/local/lib/python3.6/dist-packages (from wordcloud->pycaret) (7.0.0)
Requirement already satisfied: wheel>=0.23.0 in /usr/local/lib/python3.6/dist-packages (from pyLDAvis->pycaret) (0.35.1)
Requirement already satisfied: scipy>=0.18.0 in /usr/local/lib/python3.6/dist-packages (from pyLDAvis->pycaret) (1.4.1)
Requirement already satisfied: jinja2>=2.7.2 in /usr/local/lib/python3.6/dist-packages (from pyLDAvis->pycaret) (2.11.2)
Requirement already satisfied: numexpr in /usr/local/lib/python3.6/dist-packages (from pyLDAvis->pycaret) (2.7.1)
Requirement already satisfied: pytest in /usr/local/lib/python3.6/dist-packages (from pyLDAvis->pycaret) (3.6.4)
Requirement already satisfied: future in /usr/local/lib/python3.6/dist-packages (from pyLDAvis->pycaret) (0.16.0)
Collecting funcy
  Downloading https://files.pythonhosted.org/packages/66/89/479de0afbbfb98d1c4b887936808764627300208bb771fcd823403645a36/funcy-1.15-py2.py3-none-any.whl
Requirement already satisfied: numba!=0.47,>=0.46 in /usr/local/lib/python3.6/dist-packages (from umap-learn->pycaret) (0.48.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib->pycaret) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->pycaret) (1.3.1)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->pycaret) (2.8.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->pycaret) (2.4.7)
Collecting combo
  Downloading https://files.pythonhosted.org/packages/0a/2a/61b6ac584e75d8df16dc27962aa5fe99d76b09da5b6710e83d4862c84001/combo-0.1.1.tar.gz
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from pyod->pycaret) (1.15.0)
Requirement already satisfied: statsmodels in /usr/local/lib/python3.6/dist-packages (from pyod->pycaret) (0.10.2)
Collecting suod
  Downloading https://files.pythonhosted.org/packages/a1/87/9170cabe1b5e10a7d095c0e28f2e30e7c1886a13f063de85d3cfacc06f4b/suod-0.0.4.tar.gz (2.1MB)
     |████████████████████████████████| 2.1MB 29.5MB/s
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.6/dist-packages (from plotly>=4.4.1->pycaret) (1.3.3)
Requirement already satisfied: graphviz in /usr/local/lib/python3.6/dist-packages (from catboost>=0.23.2->pycaret) (0.10.1)
Requirement already satisfied: colorlover>=0.2.1 in /usr/local/lib/python3.6/dist-packages (from cufflinks>=0.17.0->pycaret) (0.3.0)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from spacy->pycaret) (3.0.2)
Requirement already satisfied: plac<1.2.0,>=0.9.6 in /usr/local/lib/python3.6/dist-packages (from spacy->pycaret) (1.1.3)
Requirement already satisfied: wasabi<1.1.0,>=0.4.0 in /usr/local/lib/python3.6/dist-packages (from spacy->pycaret) (0.8.0)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in /usr/local/lib/python3.6/dist-packages (from spacy->pycaret) (4.41.1)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in /usr/local/lib/python3.6/dist-packages (from spacy->pycaret) (2.23.0)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in /usr/local/lib/python3.6/dist-packages (from spacy->pycaret) (2.0.4)
Requirement already satisfied: catalogue<1.1.0,>=0.0.7 in /usr/local/lib/python3.6/dist-packages (from spacy->pycaret) (1.0.0)
Requirement already satisfied: thinc==7.4.0 in /usr/local/lib/python3.6/dist-packages (from spacy->pycaret) (7.4.0)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in /usr/local/lib/python3.6/dist-packages (from spacy->pycaret) (1.0.3)
Requirement already satisfied: srsly<1.1.0,>=1.0.2 in /usr/local/lib/python3.6/dist-packages (from spacy->pycaret) (1.0.2)
Requirement already satisfied: blis<0.5.0,>=0.4.0 in /usr/local/lib/python3.6/dist-packages (from spacy->pycaret) (0.4.1)
Collecting threadpoolctl>=2.0.0
  Downloading https://files.pythonhosted.org/packages/f7/12/ec3f2e203afa394a149911729357aa48affc59c20e2c1c8297a60f33f133/threadpoolctl-2.1.0-py3-none-any.whl
Requirement already satisfied: cloudpickle in /usr/local/lib/python3.6/dist-packages (from mlflow->pycaret) (1.3.0)
Requirement already satisfied: sqlparse>=0.3.1 in /usr/local/lib/python3.6/dist-packages (from mlflow->pycaret) (0.4.1)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.6/dist-packages (from mlflow->pycaret) (1.3.20)
Collecting docker>=4.0.0
  Downloading https://files.pythonhosted.org/packages/9e/8c/8d42dbd83679483db207535f4fb02dc84325fa78b290f057694b057fcd21/docker-4.3.1-py2.py3-none-any.whl (145kB)
     |████████████████████████████████| 153kB 40.2MB/s
Collecting gunicorn; platform_system != "Windows"
  Downloading https://files.pythonhosted.org/packages/69/ca/926f7cd3a2014b16870086b2d0fdc84a9e49473c68a8dff8b57f7c156f43/gunicorn-20.0.4-py2.py3-none-any.whl (77kB)
     |████████████████████████████████| 81kB 8.4MB/s
Collecting prometheus-flask-exporter
  Downloading https://files.pythonhosted.org/packages/4c/d5/8a046d683c2cc084b6a502812827ede69b1064f95d93f94b83f809b21723/prometheus_flask_exporter-0.18.1.tar.gz
Requirement already satisfied: Flask in /usr/local/lib/python3.6/dist-packages (from mlflow->pycaret) (1.1.2)
Requirement already satisfied: protobuf>=3.6.0 in /usr/local/lib/python3.6/dist-packages (from mlflow->pycaret) (3.12.4)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.6/dist-packages (from mlflow->pycaret) (3.13)
Collecting alembic<=1.4.1
  Downloading https://files.pythonhosted.org/packages/e0/e9/359dbb77c35c419df0aedeb1d53e71e7e3f438ff64a8fdb048c907404de3/alembic-1.4.1.tar.gz (1.1MB)
     |████████████████████████████████| 1.1MB 34.1MB/s
Collecting gitpython>=2.1.0
  Downloading https://files.pythonhosted.org/packages/24/d1/a7f8fe3df258549b303415157328bfcc63e9b11d06a7ad7a3327f3d32606/GitPython-3.1.11-py3-none-any.whl (159kB)
     |████████████████████████████████| 163kB 37.3MB/s
Collecting querystring-parser
  Downloading https://files.pythonhosted.org/packages/88/6b/572b2590fd55114118bf08bde63c0a421dcc82d593700f3e2ad89908a8a9/querystring_parser-1.2.4-py2.py3-none-any.whl
Requirement already satisfied: entrypoints in /usr/local/lib/python3.6/dist-packages (from mlflow->pycaret) (0.3)
Requirement already satisfied: click>=7.0 in /usr/local/lib/python3.6/dist-packages (from mlflow->pycaret) (7.1.2)
Collecting azure-storage-blob
  Downloading https://files.pythonhosted.org/packages/e7/5d/0bb4ed37da2523c393789b1d8ecbf56b1d35fa344af30fe423da2c06cbe9/azure_storage_blob-12.6.0-py2.py3-none-any.whl (328kB)
     |████████████████████████████████| 337kB 39.5MB/s
Collecting databricks-cli>=0.8.7
  Downloading https://files.pythonhosted.org/packages/41/bd/40096483035acdf41706771f793cce701a95e96e5606863df7218cd78774/databricks-cli-0.14.0.tar.gz (54kB)
     |████████████████████████████████| 61kB 5.0MB/s
Requirement already satisfied: smart-open>=1.2.1 in /usr/local/lib/python3.6/dist-packages (from gensim->pycaret) (3.0.0)
Collecting tangled-up-in-unicode>=0.0.6
  Downloading https://files.pythonhosted.org/packages/4a/e2/e588ab9298d4989ce7fdb2b97d18aac878d99dbdc379a4476a09d9271b68/tangled_up_in_unicode-0.0.6-py3-none-any.whl (3.1MB)
     |████████████████████████████████| 3.1MB 36.5MB/s
Requirement already satisfied: attrs>=19.3.0 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling>=2.8.0->pycaret) (20.2.0)
Requirement already satisfied: missingno>=0.4.2 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling>=2.8.0->pycaret) (0.4.2)
Collecting visions[type_image_path]==0.5.0
  Downloading https://files.pythonhosted.org/packages/26/e3/9416e94e767d59a86edcbcb8e1c8f42874d272c3b343676074879e9db0e0/visions-0.5.0-py3-none-any.whl (64kB)
     |████████████████████████████████| 71kB 7.6MB/s
Collecting htmlmin>=0.1.12
  Downloading https://files.pythonhosted.org/packages/b3/e7/fcd59e12169de19f0131ff2812077f964c6b960e7c09804d30a7bf2ab461/htmlmin-0.1.12.tar.gz
Collecting confuse>=1.0.0
  Downloading https://files.pythonhosted.org/packages/b5/6d/bedc0d1068bd244cee05843313cbec6cebb9f01f925538269bababc6d887/confuse-1.3.0-py2.py3-none-any.whl (64kB)
     |████████████████████████████████| 71kB 5.7MB/s
Collecting phik>=0.9.10
  Downloading https://files.pythonhosted.org/packages/01/5a/7ef1c04ce62cd72f900c06298dc2385840550d5c653a0dbc19109a5477e6/phik-0.10.0-py3-none-any.whl (599kB)
     |████████████████████████████████| 604kB 32.9MB/s
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas->pycaret) (2018.9)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.6/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->IPython->pycaret) (0.2.5)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.6/dist-packages (from traitlets>=4.2->IPython->pycaret) (0.2.0)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.6/dist-packages (from pexpect; sys_platform != "win32"->IPython->pycaret) (0.6.0)
Requirement already satisfied: jupyter-core in /usr/local/lib/python3.6/dist-packages (from nbformat>=4.2.0->ipywidgets->pycaret) (4.6.3)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /usr/local/lib/python3.6/dist-packages (from nbformat>=4.2.0->ipywidgets->pycaret) (2.6.0)
Requirement already satisfied: tornado>=4.0 in /usr/local/lib/python3.6/dist-packages (from ipykernel>=4.5.1->ipywidgets->pycaret) (5.1.1)
Requirement already satisfied: jupyter-client in /usr/local/lib/python3.6/dist-packages (from ipykernel>=4.5.1->ipywidgets->pycaret) (5.3.5)
Requirement already satisfied: notebook>=4.4.1 in /usr/local/lib/python3.6/dist-packages (from widgetsnbextension~=3.5.0->ipywidgets->pycaret) (5.3.1)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from jinja2>=2.7.2->pyLDAvis->pycaret) (1.1.1)
Requirement already satisfied: atomicwrites>=1.0 in /usr/local/lib/python3.6/dist-packages (from pytest->pyLDAvis->pycaret) (1.4.0)
Requirement already satisfied: pluggy<0.8,>=0.5 in /usr/local/lib/python3.6/dist-packages (from pytest->pyLDAvis->pycaret) (0.7.1)
Requirement already satisfied: py>=1.5.0 in /usr/local/lib/python3.6/dist-packages (from pytest->pyLDAvis->pycaret) (1.9.0)
Requirement already satisfied: more-itertools>=4.0.0 in /usr/local/lib/python3.6/dist-packages (from pytest->pyLDAvis->pycaret) (8.6.0)
Requirement already satisfied: llvmlite<0.32.0,>=0.31.0dev0 in /usr/local/lib/python3.6/dist-packages (from numba!=0.47,>=0.46->umap-learn->pycaret) (0.31.0)
Requirement already satisfied: patsy>=0.4.0 in /usr/local/lib/python3.6/dist-packages (from statsmodels->pyod->pycaret) (0.5.1)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests<3.0.0,>=2.13.0->spacy->pycaret) (2020.6.20)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests<3.0.0,>=2.13.0->spacy->pycaret) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests<3.0.0,>=2.13.0->spacy->pycaret) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests<3.0.0,>=2.13.0->spacy->pycaret) (2.10)
Requirement already satisfied: importlib-metadata>=0.20; python_version < "3.8" in /usr/local/lib/python3.6/dist-packages (from catalogue<1.1.0,>=0.0.7->spacy->pycaret) (2.0.0)
Collecting websocket-client>=0.32.0
  Downloading https://files.pythonhosted.org/packages/4c/5f/f61b420143ed1c8dc69f9eaec5ff1ac36109d52c80de49d66e0c36c3dfdf/websocket_client-0.57.0-py2.py3-none-any.whl (200kB)
     |████████████████████████████████| 204kB 34.8MB/s
Requirement already satisfied: prometheus_client in /usr/local/lib/python3.6/dist-packages (from prometheus-flask-exporter->mlflow->pycaret) (0.8.0)
Requirement already satisfied: itsdangerous>=0.24 in /usr/local/lib/python3.6/dist-packages (from Flask->mlflow->pycaret) (1.1.0)
Requirement already satisfied: Werkzeug>=0.15 in /usr/local/lib/python3.6/dist-packages (from Flask->mlflow->pycaret) (1.0.1)
Collecting Mako
  Downloading https://files.pythonhosted.org/packages/a6/37/0e706200d22172eb8fa17d68a7ae22dec7631a0a92266634fb518a88a5b2/Mako-1.1.3-py2.py3-none-any.whl (75kB)
     |████████████████████████████████| 81kB 7.5MB/s
Collecting python-editor>=0.3
  Downloading https://files.pythonhosted.org/packages/c6/d3/201fc3abe391bbae6606e6f1d598c15d367033332bd54352b12f35513717/python_editor-1.0.4-py3-none-any.whl
Collecting gitdb<5,>=4.0.1
  Downloading https://files.pythonhosted.org/packages/48/11/d1800bca0a3bae820b84b7d813ad1eff15a48a64caea9c823fc8c1b119e8/gitdb-4.0.5-py3-none-any.whl (63kB)
     |████████████████████████████████| 71kB 5.2MB/s
Collecting msrest>=0.6.10
  Downloading https://files.pythonhosted.org/packages/fa/f5/9e315fe8cb985b0ce052b34bcb767883dc739f46fadb62f05a7e6d6eedbe/msrest-0.6.19-py2.py3-none-any.whl (84kB)
     |████████████████████████████████| 92kB 7.6MB/s
Collecting azure-core<2.0.0,>=1.9.0
  Downloading https://files.pythonhosted.org/packages/f8/4b/ea7faaafac956a168ab9a95a7ebe583f9d308e8332a68af0ed3128ef520c/azure_core-1.9.0-py2.py3-none-any.whl (124kB)
     |████████████████████████████████| 133kB 37.0MB/s
Collecting cryptography>=2.1.4
  Downloading https://files.pythonhosted.org/packages/4c/a2/6565c5271a79e3c96d7a079053b4d8408a740d4bf365f0f5f244a807bd09/cryptography-3.2.1-cp35-abi3-manylinux2010_x86_64.whl (2.6MB)
     |████████████████████████████████| 2.6MB 27.6MB/s
Requirement already satisfied: tabulate>=0.7.7 in /usr/local/lib/python3.6/dist-packages (from databricks-cli>=0.8.7->mlflow->pycaret) (0.8.7)

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

from sklearn.preprocessing import MinMaxScaler
import statsmodels.api as sm
import statsmodels.formula.api as smf
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import roc_auc_score, roc_curve, classification_report, accuracy_score, confusion_matrix

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [3]:
from pycaret.classification import *

In [98]:
#função pro cross_val
def funcao_cross_val_score(modelo, X_treinamento, y_treinamento, CV):
    # versão com sklearn.model_selection.cross_validate:
    #a_scores_CV = cross_validate(modelo, X_treinamento, y_treinamento, cv = CV, scoring = metodo)
    #print(f'Média das Acurácias calculadas pelo CV....: {100*round(a_scores_CV.mean(),4)}')
    #print(f'std médio das Acurácias calculadas pelo CV: {100*round(a_scores_CV.std(),4)}')
    #return a_scores_CV

    #versão com cross_val_score::
    a_scores_CV = cross_val_score(modelo, X_treinamento, y_treinamento, cv = CV)
    print(f'Média das Acurácias calculadas pelo CV....: {100*round(a_scores_CV.mean(),4)}')
    print(f'std médio das Acurácias calculadas pelo CV: {100*round(a_scores_CV.std(),4)}')
    return a_scores_CV

In [5]:
#grid para cV
def GridSearchOptimizer(modelo, ml_Opt, d_hiperparametros, X_treinamento, y_treinamento, X_teste, y_teste, i_CV, l_colunas):
    ml_GridSearchCV = GridSearchCV(modelo, d_hiperparametros, cv = i_CV, n_jobs = -1, verbose= 10, scoring = 'accuracy')
    start = time()
    ml_GridSearchCV.fit(X_treinamento, y_treinamento)
    tempo_elapsed = time()-start
    print(f"\nGridSearchCV levou {tempo_elapsed:.2f} segundos.")

    # Hiperparâmetros que otimizam a classificação:
    print(f'\nHiperparâmetros otimizados: {ml_GridSearchCV.best_params_}')
    
    if ml_Opt == 'ml_DT2':
        print(f'\nDecisionTreeClassifier *********************************************************************************************************')
        ml_Opt = DecisionTreeClassifier(criterion= ml_GridSearchCV.best_params_['criterion'], 
                                        max_depth= ml_GridSearchCV.best_params_['max_depth'],
                                        max_leaf_nodes= ml_GridSearchCV.best_params_['max_leaf_nodes'],
                                        min_samples_split= ml_GridSearchCV.best_params_['min_samples_leaf'],
                                        min_samples_leaf= ml_GridSearchCV.best_params_['min_samples_split'], 
                                        random_state= i_Seed)
        
    elif ml_Opt == 'ml_RF2':
        print(f'\nRandomForestClassifier *********************************************************************************************************')
        ml_Opt = RandomForestClassifier(bootstrap= ml_GridSearchCV.best_params_['bootstrap'], 
                                        max_depth= ml_GridSearchCV.best_params_['max_depth'],
                                        max_features= ml_GridSearchCV.best_params_['max_features'],
                                        min_samples_leaf= ml_GridSearchCV.best_params_['min_samples_leaf'],
                                        min_samples_split= ml_GridSearchCV.best_params_['min_samples_split'],
                                        n_estimators= ml_GridSearchCV.best_params_['n_estimators'],
                                        random_state= i_Seed)
        
    elif ml_Opt == 'ml_AB2':
        print(f'\nAdaBoostClassifier *********************************************************************************************************')
        ml_Opt = AdaBoostClassifier(algorithm='SAMME.R', 
                                    base_estimator=RandomForestClassifier(bootstrap = False, 
                                                                          max_depth = 10, 
                                                                          max_features = 'auto', 
                                                                          min_samples_leaf = 1, 
                                                                          min_samples_split = 2, 
                                                                          n_estimators = 400), 
                                    learning_rate = ml_GridSearchCV.best_params_['learning_rate'], 
                                    n_estimators = ml_GridSearchCV.best_params_['n_estimators'], 
                                    random_state = i_Seed)
        
    elif ml_Opt == 'ml_GB2':
        print(f'\nGradientBoostingClassifier *********************************************************************************************************')
        ml_Opt = GradientBoostingClassifier(learning_rate = ml_GridSearchCV.best_params_['learning_rate'], 
                                            n_estimators = ml_GridSearchCV.best_params_['n_estimators'], 
                                            max_depth = ml_GridSearchCV.best_params_['max_depth'], 
                                            min_samples_split = ml_GridSearchCV.best_params_['min_samples_split'], 
                                            min_samples_leaf = ml_GridSearchCV.best_params_['min_samples_leaf'], 
                                            max_features = ml_GridSearchCV.best_params_['max_features'])
        
    elif ml_Opt == 'ml_XGB2':
        print(f'\nXGBoostingClassifier *********************************************************************************************************')
        ml_Opt = XGBoostingClassifier(learning_rate= ml_GridSearchCV.best_params_['learning_rate'], 
                                      max_depth= ml_GridSearchCV.best_params_['max_depth'], 
                                      colsample_bytree= ml_GridSearchCV.best_params_['colsample_bytree'], 
                                      subsample= ml_GridSearchCV.best_params_['subsample'], 
                                      gamma= ml_GridSearchCV.best_params_['gamma'], 
                                      min_child_weight= ml_GridSearchCV.best_params_['min_child_weight'])
        
    # Treina novamente usando os hiperparâmetros otimizados...
    ml_Opt.fit(X_treinamento, y_treinamento)

    # Cross-Validation com 10 folds
    print(f'\n********* CROSS-VALIDATION ***********')
    a_scores_CV = funcao_cross_val_score(ml_Opt, X_treinamento, y_treinamento, i_CV)

    # Faz predições com os hiperparâmetros otimizados...
    y_pred = ml_Opt.predict(X_teste)
  
    # Importância das COLUNAS
    print(f'\n********* IMPORTÂNCIA DAS COLUNAS ***********')
    df_importancia_variaveis = pd.DataFrame(zip(l_colunas, ml_Opt.feature_importances_), columns= ['coluna', 'importancia'])
    df_importancia_variaveis = df_importancia_variaveis.sort_values(by= ['importancia'], ascending=False)
    print(df_importancia_variaveis)

    # Matriz de Confusão
    print(f'\n********* CONFUSION MATRIX - PARAMETER TUNNING ***********')
    cf_matrix = confusion_matrix(y_teste, y_pred)
    cf_labels = ['True_Negative', 'False_Positive', 'False_Negative', 'True_Positive']
    cf_categories = ['Zero', 'One']
    mostra_confusion_matrix(cf_matrix, group_names = cf_labels, categories = cf_categories)

    return ml_Opt, ml_GridSearchCV.best_params_

In [6]:
#coluna relevantes
from sklearn.feature_selection import SelectFromModel

def seleciona_colunas_relevantes(modelo, X_treinamento, X_teste, threshold = 0.05):
    # Cria um seletor para selecionar as COLUNAS com importância > threshold
    sfm = SelectFromModel(modelo, threshold)
    
    # Treina o seletor
    sfm.fit(X_treinamento, y_treinamento)

    # Mostra o indice das COLUNAS mais importantes
    print(f'\n********** COLUNAS Relevantes ******')
    print(sfm.get_support(indices=True))

    # Seleciona somente as COLUNAS relevantes
    X_treinamento_I = sfm.transform(X_treinamento)
    X_teste_I = sfm.transform(X_teste)
    return X_treinamento_I, X_teste_I

In [7]:
#mostra colunas relevantes
def mostra_feature_importances(clf, X_treinamento, y_treinamento=None, 
                             top_n=10, figsize=(8,8), print_table=False, title="Feature Importances"):
    '''
    plot feature importances of a tree-based sklearn estimator
    
    Note: X_treinamento and y_treinamento are pandas DataFrames
    
    Note: Scikit-plot is a lovely package but I sometimes have issues
              1. flexibility/extendibility
              2. complicated models/datasets
          But for many situations Scikit-plot is the way to go
          see https://scikit-plot.readthedocs.io/en/latest/Quickstart.html
    
    Parameters
    ----------
        clf         (sklearn estimator) if not fitted, this routine will fit it
        
        X_treinamento     (pandas DataFrame)
        
        y_treinamento     (pandas DataFrame)  optional
                                        required only if clf has not already been fitted 
        
        top_n       (int)               Plot the top_n most-important features
                                        Default: 10
                                        
        figsize     ((int,int))         The physical size of the plot
                                        Default: (8,8)
        
        print_table (boolean)           If True, print out the table of feature importances
                                        Default: False
        
    Returns
    -------
        the pandas dataframe with the features and their importance
        
    Author
    ------
        George Fisher
    '''
    
    __name__ = "mostra_feature_importances"
    
    import pandas as pd
    import numpy  as np
    import matplotlib.pyplot as plt
    
    from xgboost.core     import XGBoostError
    from lightgbm.sklearn import LightGBMError
    
    try: 
        if not hasattr(clf, 'feature_importances_'):
            clf.fit(X_treinamento.values, y_treinamento.values.ravel())

            if not hasattr(clf, 'feature_importances_'):
                raise AttributeError("{} does not have feature_importances_ attribute".
                                    format(clf.__class__.__name__))
                
    except (XGBoostError, LightGBMError, ValueError):
        clf.fit(X_treinamento.values, y_treinamento.values.ravel())
            
    feat_imp = pd.DataFrame({'importance':clf.feature_importances_})    
    feat_imp['feature'] = X_treinamento.columns
    feat_imp.sort_values(by ='importance', ascending = False, inplace = True)
    feat_imp = feat_imp.iloc[:top_n]
    
    feat_imp.sort_values(by='importance', inplace = True)
    feat_imp = feat_imp.set_index('feature', drop = True)
    feat_imp.plot.barh(title=title, figsize=figsize)
    plt.xlabel('Feature Importance Score')
    plt.show()
    
    if print_table:
        from IPython.display import display
        print("Top {} features in descending order of importance".format(top_n))
        display(feat_imp.sort_values(by = 'importance', ascending = False))
        
    return feat_imp

In [8]:
url = 'https://raw.githubusercontent.com/jjefferson2006/DSWP_JJ_altera/main/train.csv'
df_churn_train = pd.read_csv(url)
df_churn_train

,id,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,4030,Female,0,No,No,56.0,No,No phone service,DSL,Yes,Yes,Yes,Yes,No,No,Two year,No,NaN,45.05,2560.1,0
1,6731,Male,0,Yes,Yes,NaN,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,One year,No,Mailed check,19.65,332.65,0
2,6479,Female,0,Yes,No,60.0,Yes,Yes,Fiber optic,No,Yes,Yes,Yes,Yes,Yes,Two year,Yes,Credit card (automatic),110.80,6640.7,0
3,6861,Female,0,No,No,37.0,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Bank transfer (automatic),101.90,3545.35,1
4,3266,Male,0,Yes,Yes,29.0,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.75,1974.8,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5629,6684,Male,0,No,No,43.0,No,No phone service,DSL,No,No,Yes,Yes,No,Yes,One year,No,Electronic check,44.15,1931.3,0
5630,604,Male,0,No,No,NaN,Yes,Yes,Fiber optic,No,Yes,Yes,Yes,Yes,Yes,Two year,No,Electronic check,108.65,4903.2,0
5631,4803,Female,0,No,No,28.0,Yes,No,DSL,No,Yes,No,Yes,No,No,Month-to-month,No,Bank transfer (automatic),54.65,1517.5,0
5632,6317,Male,0,Yes,Yes,63.0,Yes,Yes,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,25.25,1573.05,0
5633,103,Male,0,No,No,38.0,Yes,Yes,Fiber optic,No,No,Yes,Yes,Yes,No,One year,No,Bank transfer (automatic),95.00,3605.6,0

In [9]:
#Normalizar as colunas
df_churn_train.columns = [col.lower() for col in df_churn_train.columns]
df_churn_train.head()

,id,gender,seniorcitizen,partner,dependents,tenure,phoneservice,multiplelines,internetservice,onlinesecurity,onlinebackup,deviceprotection,techsupport,streamingtv,streamingmovies,contract,paperlessbilling,paymentmethod,monthlycharges,totalcharges,churn
0,4030,Female,0,No,No,56.0,No,No phone service,DSL,Yes,Yes,Yes,Yes,No,No,Two year,No,NaN,45.05,2560.1,0
1,6731,Male,0,Yes,Yes,NaN,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,One year,No,Mailed check,19.65,332.65,0
2,6479,Female,0,Yes,No,60.0,Yes,Yes,Fiber optic,No,Yes,Yes,Yes,Yes,Yes,Two year,Yes,Credit card (automatic),110.80,6640.7,0
3,6861,Female,0,No,No,37.0,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Bank transfer (automatic),101.90,3545.35,1
4,3266,Male,0,Yes,Yes,29.0,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.75,1974.8,1

In [10]:
df_churn_train.dtypes

id                    int64
gender               object
seniorcitizen         int64
partner              object
dependents           object
tenure              float64
phoneservice         object
multiplelines        object
internetservice      object
onlinesecurity       object
onlinebackup         object
deviceprotection     object
techsupport          object
streamingtv          object
streamingmovies      object
contract             object
paperlessbilling     object
paymentmethod        object
monthlycharges      float64
totalcharges         object
churn                 int64
dtype: object

In [11]:
df_churn_train.isna().sum()

id                    0
gender                0
seniorcitizen         0
partner               0
dependents          218
tenure              461
phoneservice          0
multiplelines         0
internetservice       0
onlinesecurity        0
onlinebackup          0
deviceprotection      0
techsupport           0
streamingtv           0
streamingmovies       0
contract              0
paperlessbilling      0
paymentmethod        99
monthlycharges        0
totalcharges          0
churn                 0
dtype: int64

In [13]:
df_churn_train.shape

(5634, 21)

###pay

In [14]:
#contar a variavel 
df_churn_train['paymentmethod'].value_counts()

Electronic check             1887
Mailed check                 1272
Bank transfer (automatic)    1212
Credit card (automatic)      1164
Name: paymentmethod, dtype: int64

In [15]:
df_churn_train['paymentmethod'].isna().sum()

99

In [16]:
df_churn_train['paymentmethod'].fillna('Credit card (automatic)', inplace=True)

###trat dep

In [17]:
df_churn_train['dependents'].isna().sum()

218

In [18]:
#contar a variavel 
df_churn_train['dependents'].value_counts()

No     3793
Yes    1623
Name: dependents, dtype: int64

In [19]:
#criterio = moda
df_churn_train['dependents'].fillna('Yes', inplace=True)

###tratar as numeric

In [20]:
df_churn_train['totalcharges'] = df_churn_train['totalcharges'].str.replace(',', '.')
df_churn_train['totalcharges'] = pd.to_numeric(df_churn_train['totalcharges'], errors= 'coerce')

In [21]:
df_churn_train['monthlycharges'].isna().sum()

0

In [22]:
df_churn_train['totalcharges'].sum()

12790788.7

In [23]:
df_churn_train['tenure'].isna().sum()

461

In [24]:
df_churn_train['tenure_esti']=round(df_churn_train['totalcharges']/df_churn_train['monthlycharges'],2)

In [25]:
df_churn_train['tenure_rou']=round(df_churn_train['tenure_esti'])

In [26]:
df_churn_train.head()

,id,gender,seniorcitizen,partner,dependents,tenure,phoneservice,multiplelines,internetservice,onlinesecurity,onlinebackup,deviceprotection,techsupport,streamingtv,streamingmovies,contract,paperlessbilling,paymentmethod,monthlycharges,totalcharges,churn,tenure_esti,tenure_rou
0,4030,Female,0,No,No,56.0,No,No phone service,DSL,Yes,Yes,Yes,Yes,No,No,Two year,No,Credit card (automatic),45.05,2560.10,0,56.83,57.0
1,6731,Male,0,Yes,Yes,NaN,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,One year,No,Mailed check,19.65,332.65,0,16.93,17.0
2,6479,Female,0,Yes,No,60.0,Yes,Yes,Fiber optic,No,Yes,Yes,Yes,Yes,Yes,Two year,Yes,Credit card (automatic),110.80,6640.70,0,59.93,60.0
3,6861,Female,0,No,No,37.0,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Bank transfer (automatic),101.90,3545.35,1,34.79,35.0
4,3266,Male,0,Yes,Yes,29.0,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.75,1974.80,1,27.91,28.0

In [27]:
l_tot_ten = list(df_churn_train[df_churn_train['tenure'].isna()].index)
l_tot_ten

[1,
 11,
 34,
 45,
 55,
 92,
 94,
 109,
 121,
 133,
 185,
 190,
 193,
 200,
 221,
 223,
 231,
 234,
 247,
 251,
 268,
 288,
 298,
 323,
 332,
 346,
 353,
 368,
 372,
 381,
 390,
 398,
 408,
 409,
 436,
 453,
 463,
 464,
 465,
 469,
 472,
 474,
 483,
 485,
 486,
 508,
 520,
 544,
 559,
 560,
 572,
 596,
 602,
 620,
 632,
 640,
 682,
 700,
 707,
 773,
 787,
 791,
 809,
 811,
 830,
 832,
 851,
 854,
 880,
 886,
 923,
 925,
 950,
 956,
 958,
 968,
 988,
 992,
 1003,
 1049,
 1070,
 1090,
 1098,
 1105,
 1114,
 1115,
 1127,
 1135,
 1137,
 1143,
 1159,
 1169,
 1173,
 1192,
 1196,
 1206,
 1208,
 1214,
 1233,
 1238,
 1254,
 1261,
 1265,
 1266,
 1278,
 1279,
 1286,
 1336,
 1373,
 1405,
 1406,
 1414,
 1420,
 1440,
 1449,
 1475,
 1476,
 1490,
 1501,
 1503,
 1516,
 1526,
 1563,
 1584,
 1587,
 1591,
 1614,
 1637,
 1655,
 1681,
 1691,
 1695,
 1696,
 1703,
 1716,
 1718,
 1725,
 1734,
 1742,
 1750,
 1753,
 1770,
 1778,
 1789,
 1793,
 1802,
 1813,
 1817,
 1830,
 1845,
 1872,
 1887,
 1896,
 1906,
 1922,
 1943,
 1944,
 1945,
 1958,
 1959,
 1960,
 2020,
 2023,
 2034,
 2070,
 2079,
 2084,
 2089,
 2093,
 2095,
 2126,
 2175,
 2195,
 2202,
 2205,
 2215,
 2217,
 2220,
 2234,
 2303,
 2332,
 2355,
 2386,
 2390,
 2394,
 2409,
 2418,
 2468,
 2478,
 2491,
 2496,
 2502,
 2526,
 2539,
 2545,
 2559,
 2575,
 2591,
 2593,
 2633,
 2641,
 2643,
 2648,
 2655,
 2678,
 2679,
 2715,
 2737,
 2741,
 2742,
 2759,
 2762,
 2797,
 2812,
 2818,
 2826,
 2839,
 2840,
 2866,
 2883,
 2899,
 2909,
 2914,
 2924,
 2946,
 2948,
 2950,
 2954,
 2960,
 2962,
 2972,
 2973,
 2984,
 2994,
 3011,
 3022,
 3034,
 3045,
 3046,
 3049,
 3051,
 3056,
 3062,
 3066,
 3074,
 3077,
 3078,
 3106,
 3167,
 3195,
 3230,
 3232,
 3258,
 3260,
 3269,
 3271,
 3273,
 3285,
 3301,
 3314,
 3321,
 3322,
 3332,
 3337,
 3342,
 3352,
 3367,
 3374,
 3377,
 3388,
 3397,
 3405,
 3425,
 3439,
 3501,
 3510,
 3533,
 3542,
 3561,
 3563,
 3585,
 3596,
 3605,
 3647,
 3658,
 3669,
 3679,
 3687,
 3713,
 3729,
 3749,
 3758,
 3775,
 3787,
 3791,
 3793,
 3794,
 3802,
 3805,
 3807,
 3817,
 3834,
 3898,
 3899,
 3906,
 3910,
 3921,
 3926,
 3938,
 3944,
 3954,
 3960,
 3965,
 3991,
 4020,
 4027,
 4038,
 4061,
 4072,
 4090,
 4108,
 4151,
 4152,
 4157,
 4159,
 4167,
 4170,
 4179,
 4185,
 4235,
 4238,
 4240,
 4246,
 4252,
 4257,
 4261,
 4301,
 4361,
 4368,
 4372,
 4375,
 4381,
 4383,
 4386,
 4389,
 4393,
 4396,
 4406,
 4425,
 4431,
 4445,
 4451,
 4481,
 4529,
 4538,
 4553,
 4554,
 4555,
 4561,
 4570,
 4575,
 4589,
 4596,
 4598,
 4602,
 4606,
 4619,
 4625,
 4626,
 4650,
 4679,
 4703,
 4705,
 4709,
 4717,
 4726,
 4727,
 4735,
 4740,
 4741,
 4769,
 4776,
 4778,
 4817,
 4820,
 4824,
 4835,
 4840,
 4862,
 4876,
 4880,
 4884,
 4888,
 4901,
 4909,
 4912,
 4916,
 4919,
 4927,
 4941,
 4980,
 4986,
 4987,
 4989,
 4991,
 4999,
 5003,
 5019,
 5039,
 5051,
 5054,
 5063,
 5069,
 5070,
 5071,
 5098,
 5107,
 5110,
 5111,
 5122,
 5143,
 5146,
 5164,
 5178,
 5181,
 5205,
 5209,
 5228,
 5233,
 5235,
 5238,
 5249,
 5251,
 5281,
 5294,
 5343,
 5349,
 5350,
 5355,
 5361,
 5368,
 5382,
 5413,
 5420,
 5421,
 5453,
 5455,
 5468,
 5475,
 5481,
 5482,
 5490,
 5492,
 5520,
 5565,
 5585,
 5587,
 5596,
 5613,
 5623,
 5630]

In [28]:
for i in l_tot_ten:
    df_churn_train['tenure'][i] = df_churn_train['tenure_rou'][i]

In [29]:
df_churn_train.head()

,id,gender,seniorcitizen,partner,dependents,tenure,phoneservice,multiplelines,internetservice,onlinesecurity,onlinebackup,deviceprotection,techsupport,streamingtv,streamingmovies,contract,paperlessbilling,paymentmethod,monthlycharges,totalcharges,churn,tenure_esti,tenure_rou
0,4030,Female,0,No,No,56.0,No,No phone service,DSL,Yes,Yes,Yes,Yes,No,No,Two year,No,Credit card (automatic),45.05,2560.10,0,56.83,57.0
1,6731,Male,0,Yes,Yes,17.0,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,One year,No,Mailed check,19.65,332.65,0,16.93,17.0
2,6479,Female,0,Yes,No,60.0,Yes,Yes,Fiber optic,No,Yes,Yes,Yes,Yes,Yes,Two year,Yes,Credit card (automatic),110.80,6640.70,0,59.93,60.0
3,6861,Female,0,No,No,37.0,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Bank transfer (automatic),101.90,3545.35,1,34.79,35.0
4,3266,Male,0,Yes,Yes,29.0,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.75,1974.80,1,27.91,28.0

In [30]:
df_churn_train.drop(columns=['tenure_esti','tenure_rou'], inplace=True)

In [ ]:
df_churn_train.head()

,id,gender,seniorcitizen,partner,dependents,tenure,phoneservice,multiplelines,internetservice,onlinesecurity,onlinebackup,deviceprotection,techsupport,streamingtv,streamingmovies,contract,paperlessbilling,paymentmethod,monthlycharges,totalcharges,churn
0,4030,Female,0,No,No,56.0,No,No phone service,DSL,Yes,Yes,Yes,Yes,No,No,Two year,No,Credit card (automatic),45.05,2560.10,0
1,6731,Male,0,Yes,Yes,17.0,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,One year,No,Mailed check,19.65,332.65,0
2,6479,Female,0,Yes,No,60.0,Yes,Yes,Fiber optic,No,Yes,Yes,Yes,Yes,Yes,Two year,Yes,Credit card (automatic),110.80,6640.70,0
3,6861,Female,0,No,No,37.0,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Bank transfer (automatic),101.90,3545.35,1
4,3266,Male,0,Yes,Yes,29.0,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.75,1974.80,1

In [31]:
df_churn_train.columns

Index(['id', 'gender', 'seniorcitizen', 'partner', 'dependents', 'tenure',
       'phoneservice', 'multiplelines', 'internetservice', 'onlinesecurity',
       'onlinebackup', 'deviceprotection', 'techsupport', 'streamingtv',
       'streamingmovies', 'contract', 'paperlessbilling', 'paymentmethod',
       'monthlycharges', 'totalcharges', 'churn'],
      dtype='object')

In [32]:
df_churn_train['gender'].value_counts()

Male      2849
Female    2785
Name: gender, dtype: int64

In [33]:
df_churn_train['onlinesecurity'].value_counts()

No                     2763
Yes                    1647
No internet service    1224
Name: onlinesecurity, dtype: int64

In [36]:
df_churn_train['multiplelines'].value_counts()

No                  2692
Yes                 2390
No phone service     552
Name: multiplelines, dtype: int64

In [34]:
df_churn_train.onlinesecurity.replace(['No internet service'], ['No'], inplace=True)

onlinebackup	deviceprotection	techsupport	streamingtv	streamingmovies

In [37]:
df_churn_train.multiplelines.replace(['No phone service'], ['No'], inplace=True)

In [38]:
df_churn_train.onlinebackup.replace(['No internet service'], ['No'], inplace=True)

In [39]:
df_churn_train.deviceprotection.replace(['No internet service'], ['No'], inplace=True)

In [40]:
df_churn_train.techsupport.replace(['No internet service'], ['No'], inplace=True)

In [41]:
df_churn_train.streamingtv.replace(['No internet service'], ['No'], inplace=True)

In [42]:
df_churn_train.streamingmovies.replace(['No internet service'], ['No'], inplace=True)

In [49]:
df_churn_train.head()

,id,gender,seniorcitizen,partner,dependents,tenure,phoneservice,multiplelines,internetservice,onlinesecurity,onlinebackup,deviceprotection,techsupport,streamingtv,streamingmovies,contract,paperlessbilling,paymentmethod,monthlycharges,totalcharges,churn
0,4030,Female,0,No,No,56.0,No,No,DSL,Yes,Yes,Yes,Yes,No,No,Two year,No,Credit card (automatic),45.05,2560.10,0
1,6731,Male,0,Yes,Yes,17.0,Yes,No,No,No,No,No,No,No,No,One year,No,Mailed check,19.65,332.65,0
2,6479,Female,0,Yes,No,60.0,Yes,Yes,Fiber optic,No,Yes,Yes,Yes,Yes,Yes,Two year,Yes,Credit card (automatic),110.80,6640.70,0
3,6861,Female,0,No,No,37.0,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Bank transfer (automatic),101.90,3545.35,1
4,3266,Male,0,Yes,Yes,29.0,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.75,1974.80,1

In [51]:
dummy = pd.get_dummies(df_churn_train[['gender', 'partner', 'dependents', 
       'phoneservice', 'multiplelines', 'internetservice', 'onlinesecurity',
       'onlinebackup', 'deviceprotection', 'techsupport', 'streamingtv',
       'streamingmovies', 'contract', 'paperlessbilling', 'paymentmethod']])
dummy

,gender_Female,gender_Male,partner_No,partner_Yes,dependents_No,dependents_Yes,phoneservice_No,phoneservice_Yes,multiplelines_No,multiplelines_Yes,internetservice_DSL,internetservice_Fiber optic,internetservice_No,onlinesecurity_No,onlinesecurity_Yes,onlinebackup_No,onlinebackup_Yes,deviceprotection_No,deviceprotection_Yes,techsupport_No,techsupport_Yes,streamingtv_No,streamingtv_Yes,streamingmovies_No,streamingmovies_Yes,contract_Month-to-month,contract_One year,contract_Two year,paperlessbilling_No,paperlessbilling_Yes,paymentmethod_Bank transfer (automatic),paymentmethod_Credit card (automatic),paymentmethod_Electronic check,paymentmethod_Mailed check
0,1,0,1,0,1,0,1,0,1,0,1,0,0,0,1,0,1,0,1,0,1,1,0,1,0,0,0,1,1,0,0,1,0,0
1,0,1,0,1,0,1,0,1,1,0,0,0,1,1,0,1,0,1,0,1,0,1,0,1,0,0,1,0,1,0,0,0,0,1
2,1,0,0,1,1,0,0,1,0,1,0,1,0,1,0,0,1,0,1,0,1,0,1,0,1,0,0,1,0,1,0,1,0,0
3,1,0,1,0,1,0,0,1,0,1,0,1,0,1,0,0,1,0,1,1,0,0,1,0,1,1,0,0,0,1,1,0,0,0
4,0,1,0,1,0,1,0,1,1,0,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5629,0,1,1,0,1,0,1,0,1,0,1,0,0,1,0,1,0,0,1,0,1,1,0,0,1,0,1,0,1,0,0,0,1,0
5630,0,1,1,0,1,0,0,1,0,1,0,1,0,1,0,0,1,0,1,0,1,0,1,0,1,0,0,1,1,0,0,0,1,0
5631,1,0,1,0,1,0,0,1,1,0,1,0,0,1,0,0,1,1,0,0,1,1,0,1,0,1,0,0,1,0,1,0,0,0
5632,0,1,0,1,0,1,0,1,0,1,0,0,1,1,0,1,0,1,0,1,0,1,0,1,0,0,0,1,1,0,0,0,0,1
5633,0,1,1,0,1,0,0,1,0,1,0,1,0,1,0,1,0,0,1,0,1,0,1,1,0,0,1,0,1,0,1,0,0,0

In [56]:
df_train_dumy = pd.concat([df_churn_train, dummy], axis = 1)
df_train_dumy.head()

,id,gender,seniorcitizen,partner,dependents,tenure,phoneservice,multiplelines,internetservice,onlinesecurity,onlinebackup,deviceprotection,techsupport,streamingtv,streamingmovies,contract,paperlessbilling,paymentmethod,monthlycharges,totalcharges,churn,gender_Female,gender_Male,partner_No,partner_Yes,dependents_No,dependents_Yes,phoneservice_No,phoneservice_Yes,multiplelines_No,multiplelines_Yes,internetservice_DSL,internetservice_Fiber optic,internetservice_No,onlinesecurity_No,onlinesecurity_Yes,onlinebackup_No,onlinebackup_Yes,deviceprotection_No,deviceprotection_Yes,techsupport_No,techsupport_Yes,streamingtv_No,streamingtv_Yes,streamingmovies_No,streamingmovies_Yes,contract_Month-to-month,contract_One year,contract_Two year,paperlessbilling_No,paperlessbilling_Yes,paymentmethod_Bank transfer (automatic),paymentmethod_Credit card (automatic),paymentmethod_Electronic check,paymentmethod_Mailed check
0,4030,Female,0,No,No,56.0,No,No,DSL,Yes,Yes,Yes,Yes,No,No,Two year,No,Credit card (automatic),45.05,2560.10,0,1,0,1,0,1,0,1,0,1,0,1,0,0,0,1,0,1,0,1,0,1,1,0,1,0,0,0,1,1,0,0,1,0,0
1,6731,Male,0,Yes,Yes,17.0,Yes,No,No,No,No,No,No,No,No,One year,No,Mailed check,19.65,332.65,0,0,1,0,1,0,1,0,1,1,0,0,0,1,1,0,1,0,1,0,1,0,1,0,1,0,0,1,0,1,0,0,0,0,1
2,6479,Female,0,Yes,No,60.0,Yes,Yes,Fiber optic,No,Yes,Yes,Yes,Yes,Yes,Two year,Yes,Credit card (automatic),110.80,6640.70,0,1,0,0,1,1,0,0,1,0,1,0,1,0,1,0,0,1,0,1,0,1,0,1,0,1,0,0,1,0,1,0,1,0,0
3,6861,Female,0,No,No,37.0,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Bank transfer (automatic),101.90,3545.35,1,1,0,1,0,1,0,0,1,0,1,0,1,0,1,0,0,1,0,1,1,0,0,1,0,1,1,0,0,0,1,1,0,0,0
4,3266,Male,0,Yes,Yes,29.0,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.75,1974.80,1,0,1,0,1,0,1,0,1,1,0,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,0,0,1,0,0,1,0

In [ ]:
 'gender', 'partner', 'dependents', 'phoneservice', 'multiplelines', 'internetservice', 'onlinesecurity',
       'onlinebackup', 'deviceprotection', 'techsupport', 'streamingtv',
       'streamingmovies', 'contract', 'paperlessbilling', 'paymentmethod'

In [57]:
df_train_dumy.drop(columns=['gender', 'partner', 'dependents',
                            'phoneservice', 'multiplelines', 'internetservice',
                            'onlinesecurity', 'onlinebackup', 'deviceprotection'
                            ,'techsupport', 'streamingtv', 'streamingmovies',
                            'contract', 'paperlessbilling', 'paymentmethod'], inplace = True)

In [58]:
df_train_dumy.head()

,id,seniorcitizen,tenure,monthlycharges,totalcharges,churn,gender_Female,gender_Male,partner_No,partner_Yes,dependents_No,dependents_Yes,phoneservice_No,phoneservice_Yes,multiplelines_No,multiplelines_Yes,internetservice_DSL,internetservice_Fiber optic,internetservice_No,onlinesecurity_No,onlinesecurity_Yes,onlinebackup_No,onlinebackup_Yes,deviceprotection_No,deviceprotection_Yes,techsupport_No,techsupport_Yes,streamingtv_No,streamingtv_Yes,streamingmovies_No,streamingmovies_Yes,contract_Month-to-month,contract_One year,contract_Two year,paperlessbilling_No,paperlessbilling_Yes,paymentmethod_Bank transfer (automatic),paymentmethod_Credit card (automatic),paymentmethod_Electronic check,paymentmethod_Mailed check
0,4030,0,56.0,45.05,2560.10,0,1,0,1,0,1,0,1,0,1,0,1,0,0,0,1,0,1,0,1,0,1,1,0,1,0,0,0,1,1,0,0,1,0,0
1,6731,0,17.0,19.65,332.65,0,0,1,0,1,0,1,0,1,1,0,0,0,1,1,0,1,0,1,0,1,0,1,0,1,0,0,1,0,1,0,0,0,0,1
2,6479,0,60.0,110.80,6640.70,0,1,0,0,1,1,0,0,1,0,1,0,1,0,1,0,0,1,0,1,0,1,0,1,0,1,0,0,1,0,1,0,1,0,0
3,6861,0,37.0,101.90,3545.35,1,1,0,1,0,1,0,0,1,0,1,0,1,0,1,0,0,1,0,1,1,0,0,1,0,1,1,0,0,0,1,1,0,0,0
4,3266,0,29.0,70.75,1974.80,1,0,1,0,1,0,1,0,1,1,0,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,0,0,1,0,0,1,0

In [59]:
l_index_charg = list(df_train_dumy[df_train_dumy['totalcharges'].isna()].index)
l_index_charg

[161, 416, 1766, 2145, 3375, 3404, 4008, 5151]

In [60]:
for i in l_index_charg:
    df_train_dumy['totalcharges'][i] = 0.0

In [61]:
df_train_dumy.isna().sum()

id                                         0
seniorcitizen                              0
tenure                                     0
monthlycharges                             0
totalcharges                               0
churn                                      0
gender_Female                              0
gender_Male                                0
partner_No                                 0
partner_Yes                                0
dependents_No                              0
dependents_Yes                             0
phoneservice_No                            0
phoneservice_Yes                           0
multiplelines_No                           0
multiplelines_Yes                          0
internetservice_DSL                        0
internetservice_Fiber optic                0
internetservice_No                         0
onlinesecurity_No                          0
onlinesecurity_Yes                         0
onlinebackup_No                            0
onlinebackup_Yes                           0
deviceprotection_No                        0
deviceprotection_Yes                       0
techsupport_No                             0
techsupport_Yes                            0
streamingtv_No                             0
streamingtv_Yes                            0
streamingmovies_No                         0
streamingmovies_Yes                        0
contract_Month-to-month                    0
contract_One year                          0
contract_Two year                          0
paperlessbilling_No                        0
paperlessbilling_Yes                       0
paymentmethod_Bank transfer (automatic)    0
paymentmethod_Credit card (automatic)      0
paymentmethod_Electronic check             0
paymentmethod_Mailed check                 0
dtype: int64

In [62]:
df_train_dumy.head()

,id,seniorcitizen,tenure,monthlycharges,totalcharges,churn,gender_Female,gender_Male,partner_No,partner_Yes,dependents_No,dependents_Yes,phoneservice_No,phoneservice_Yes,multiplelines_No,multiplelines_Yes,internetservice_DSL,internetservice_Fiber optic,internetservice_No,onlinesecurity_No,onlinesecurity_Yes,onlinebackup_No,onlinebackup_Yes,deviceprotection_No,deviceprotection_Yes,techsupport_No,techsupport_Yes,streamingtv_No,streamingtv_Yes,streamingmovies_No,streamingmovies_Yes,contract_Month-to-month,contract_One year,contract_Two year,paperlessbilling_No,paperlessbilling_Yes,paymentmethod_Bank transfer (automatic),paymentmethod_Credit card (automatic),paymentmethod_Electronic check,paymentmethod_Mailed check
0,4030,0,56.0,45.05,2560.10,0,1,0,1,0,1,0,1,0,1,0,1,0,0,0,1,0,1,0,1,0,1,1,0,1,0,0,0,1,1,0,0,1,0,0
1,6731,0,17.0,19.65,332.65,0,0,1,0,1,0,1,0,1,1,0,0,0,1,1,0,1,0,1,0,1,0,1,0,1,0,0,1,0,1,0,0,0,0,1
2,6479,0,60.0,110.80,6640.70,0,1,0,0,1,1,0,0,1,0,1,0,1,0,1,0,0,1,0,1,0,1,0,1,0,1,0,0,1,0,1,0,1,0,0
3,6861,0,37.0,101.90,3545.35,1,1,0,1,0,1,0,0,1,0,1,0,1,0,1,0,0,1,0,1,1,0,0,1,0,1,1,0,0,0,1,1,0,0,0
4,3266,0,29.0,70.75,1974.80,1,0,1,0,1,0,1,0,1,1,0,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,0,0,1,0,0,1,0

In [77]:
df_train = df_train_dumy.copy()

In [78]:
df_train

,id,seniorcitizen,tenure,monthlycharges,totalcharges,churn,gender_Female,gender_Male,partner_No,partner_Yes,dependents_No,dependents_Yes,phoneservice_No,phoneservice_Yes,multiplelines_No,multiplelines_Yes,internetservice_DSL,internetservice_Fiber optic,internetservice_No,onlinesecurity_No,onlinesecurity_Yes,onlinebackup_No,onlinebackup_Yes,deviceprotection_No,deviceprotection_Yes,techsupport_No,techsupport_Yes,streamingtv_No,streamingtv_Yes,streamingmovies_No,streamingmovies_Yes,contract_Month-to-month,contract_One year,contract_Two year,paperlessbilling_No,paperlessbilling_Yes,paymentmethod_Bank transfer (automatic),paymentmethod_Credit card (automatic),paymentmethod_Electronic check,paymentmethod_Mailed check
0,4030,0,56.0,45.05,2560.10,0,1,0,1,0,1,0,1,0,1,0,1,0,0,0,1,0,1,0,1,0,1,1,0,1,0,0,0,1,1,0,0,1,0,0
1,6731,0,17.0,19.65,332.65,0,0,1,0,1,0,1,0,1,1,0,0,0,1,1,0,1,0,1,0,1,0,1,0,1,0,0,1,0,1,0,0,0,0,1
2,6479,0,60.0,110.80,6640.70,0,1,0,0,1,1,0,0,1,0,1,0,1,0,1,0,0,1,0,1,0,1,0,1,0,1,0,0,1,0,1,0,1,0,0
3,6861,0,37.0,101.90,3545.35,1,1,0,1,0,1,0,0,1,0,1,0,1,0,1,0,0,1,0,1,1,0,0,1,0,1,1,0,0,0,1,1,0,0,0
4,3266,0,29.0,70.75,1974.80,1,0,1,0,1,0,1,0,1,1,0,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5629,6684,0,43.0,44.15,1931.30,0,0,1,1,0,1,0,1,0,1,0,1,0,0,1,0,1,0,0,1,0,1,1,0,0,1,0,1,0,1,0,0,0,1,0
5630,604,0,45.0,108.65,4903.20,0,0,1,1,0,1,0,0,1,0,1,0,1,0,1,0,0,1,0,1,0,1,0,1,0,1,0,0,1,1,0,0,0,1,0
5631,4803,0,28.0,54.65,1517.50,0,1,0,1,0,1,0,0,1,1,0,1,0,0,1,0,0,1,1,0,0,1,1,0,1,0,1,0,0,1,0,1,0,0,0
5632,6317,0,63.0,25.25,1573.05,0,0,1,0,1,0,1,0,1,0,1,0,0,1,1,0,1,0,1,0,1,0,1,0,1,0,0,0,1,1,0,0,0,0,1
5633,103,0,38.0,95.00,3605.60,0,0,1,1,0,1,0,0,1,0,1,0,1,0,1,0,1,0,0,1,0,1,0,1,1,0,0,1,0,1,0,1,0,0,0

In [81]:
df_y = df_train['churn']

In [82]:
df_y

0       0
1       0
2       0
3       1
4       1
       ..
5629    0
5630    0
5631    0
5632    0
5633    0
Name: churn, Length: 5634, dtype: int64

In [83]:
df_train.drop(columns = 'churn', inplace = True)

In [84]:
df_train.head()

,id,seniorcitizen,tenure,monthlycharges,totalcharges,gender_Female,gender_Male,partner_No,partner_Yes,dependents_No,dependents_Yes,phoneservice_No,phoneservice_Yes,multiplelines_No,multiplelines_Yes,internetservice_DSL,internetservice_Fiber optic,internetservice_No,onlinesecurity_No,onlinesecurity_Yes,onlinebackup_No,onlinebackup_Yes,deviceprotection_No,deviceprotection_Yes,techsupport_No,techsupport_Yes,streamingtv_No,streamingtv_Yes,streamingmovies_No,streamingmovies_Yes,contract_Month-to-month,contract_One year,contract_Two year,paperlessbilling_No,paperlessbilling_Yes,paymentmethod_Bank transfer (automatic),paymentmethod_Credit card (automatic),paymentmethod_Electronic check,paymentmethod_Mailed check
0,4030,0,56.0,45.05,2560.10,1,0,1,0,1,0,1,0,1,0,1,0,0,0,1,0,1,0,1,0,1,1,0,1,0,0,0,1,1,0,0,1,0,0
1,6731,0,17.0,19.65,332.65,0,1,0,1,0,1,0,1,1,0,0,0,1,1,0,1,0,1,0,1,0,1,0,1,0,0,1,0,1,0,0,0,0,1
2,6479,0,60.0,110.80,6640.70,1,0,0,1,1,0,0,1,0,1,0,1,0,1,0,0,1,0,1,0,1,0,1,0,1,0,0,1,0,1,0,1,0,0
3,6861,0,37.0,101.90,3545.35,1,0,1,0,1,0,0,1,0,1,0,1,0,1,0,0,1,0,1,1,0,0,1,0,1,1,0,0,0,1,1,0,0,0
4,3266,0,29.0,70.75,1974.80,0,1,0,1,0,1,0,1,1,0,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,0,0,1,0,0,1,0

In [85]:
df_X = df_train

In [86]:
df_X

,id,seniorcitizen,tenure,monthlycharges,totalcharges,gender_Female,gender_Male,partner_No,partner_Yes,dependents_No,dependents_Yes,phoneservice_No,phoneservice_Yes,multiplelines_No,multiplelines_Yes,internetservice_DSL,internetservice_Fiber optic,internetservice_No,onlinesecurity_No,onlinesecurity_Yes,onlinebackup_No,onlinebackup_Yes,deviceprotection_No,deviceprotection_Yes,techsupport_No,techsupport_Yes,streamingtv_No,streamingtv_Yes,streamingmovies_No,streamingmovies_Yes,contract_Month-to-month,contract_One year,contract_Two year,paperlessbilling_No,paperlessbilling_Yes,paymentmethod_Bank transfer (automatic),paymentmethod_Credit card (automatic),paymentmethod_Electronic check,paymentmethod_Mailed check
0,4030,0,56.0,45.05,2560.10,1,0,1,0,1,0,1,0,1,0,1,0,0,0,1,0,1,0,1,0,1,1,0,1,0,0,0,1,1,0,0,1,0,0
1,6731,0,17.0,19.65,332.65,0,1,0,1,0,1,0,1,1,0,0,0,1,1,0,1,0,1,0,1,0,1,0,1,0,0,1,0,1,0,0,0,0,1
2,6479,0,60.0,110.80,6640.70,1,0,0,1,1,0,0,1,0,1,0,1,0,1,0,0,1,0,1,0,1,0,1,0,1,0,0,1,0,1,0,1,0,0
3,6861,0,37.0,101.90,3545.35,1,0,1,0,1,0,0,1,0,1,0,1,0,1,0,0,1,0,1,1,0,0,1,0,1,1,0,0,0,1,1,0,0,0
4,3266,0,29.0,70.75,1974.80,0,1,0,1,0,1,0,1,1,0,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5629,6684,0,43.0,44.15,1931.30,0,1,1,0,1,0,1,0,1,0,1,0,0,1,0,1,0,0,1,0,1,1,0,0,1,0,1,0,1,0,0,0,1,0
5630,604,0,45.0,108.65,4903.20,0,1,1,0,1,0,0,1,0,1,0,1,0,1,0,0,1,0,1,0,1,0,1,0,1,0,0,1,1,0,0,0,1,0
5631,4803,0,28.0,54.65,1517.50,1,0,1,0,1,0,0,1,1,0,1,0,0,1,0,0,1,1,0,0,1,1,0,1,0,1,0,0,1,0,1,0,0,0
5632,6317,0,63.0,25.25,1573.05,0,1,0,1,0,1,0,1,0,1,0,0,1,1,0,1,0,1,0,1,0,1,0,1,0,0,0,1,1,0,0,0,0,1
5633,103,0,38.0,95.00,3605.60,0,1,1,0,1,0,0,1,0,1,0,1,0,1,0,1,0,0,1,0,1,0,1,1,0,0,1,0,1,0,1,0,0,0

In [87]:
from sklearn.model_selection import train_test_split
X_treinamento, X_teste, y_treinamento, y_teste = train_test_split(df_X, df_y, test_size = 0.3)

In [88]:
X_treinamento.shape

(3943, 39)

In [89]:
y_treinamento.shape

(3943,)

In [90]:
X_teste.shape

(1691, 39)

In [91]:
y_teste.shape

(1691,)

In [93]:
primeira rodada
from sklearn.ensemble import GradientBoostingClassifier

# Instancia...
ml_GB = GradientBoostingClassifier(n_estimators = 100, min_samples_split = 2)

# Treina... 
ml_GB.fit(X_treinamento, y_treinamento)

GradientBoostingClassifier()

In [96]:
cv_i = 10

In [101]:
from sklearn.metrics import accuracy_score # para medir a acurácia do modelo preditivo
#from sklearn.model_selection import train_test_split
#from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix # para plotar a confusion matrix

from sklearn.model_selection import GridSearchCV # para otimizar os hiperparâmetros dos modelos preditivos
from sklearn.model_selection import cross_val_score # Para o CV (Cross-Validation)
from sklearn.model_selection import cross_validate

from time import time
from operator import itemgetter
from scipy.stats import randint

from sklearn.tree import export_graphviz
#from sklearn.externals.six import StringIO  
from IPython.display import Image  
import pydotplus

np.set_printoptions(suppress=True)

In [102]:
# Cross-Validation com 10 folds
a_scores_CV = funcao_cross_val_score(ml_GB, X_treinamento, y_treinamento, CV=cv_i)

Média das Acurácias calculadas pelo CV....: 81.34
std médio das Acurácias calculadas pelo CV: 1.91

In [103]:
a_scores_CV

array([0.81012658, 0.80759494, 0.76202532, 0.82741117, 0.80964467,
       0.82233503, 0.8248731 , 0.81218274, 0.82233503, 0.83502538])

In [104]:
a_scores_CV.mean()

0.8133553942042022

In [105]:
print(f'Acurácias: {a_scores_CV}')

Acurácias: [0.81012658 0.80759494 0.76202532 0.82741117 0.80964467 0.82233503
 0.8248731  0.81218274 0.82233503 0.83502538]

In [106]:
ml_GB.score(X_teste, y_teste)

0.7983441750443524

In [107]:
df_importantes = pd.DataFrame(zip(X_treinamento.columns, ml_GB.feature_importances_), columns = ['coluna', 'importancia'])
df_importantes.sort_values(by = 'importancia', ascending = False)

                                     coluna  importancia
30                  contract_Month-to-month     0.379609
2                                    tenure     0.144305
16              internetservice_Fiber optic     0.118531
4                              totalcharges     0.097578
3                            monthlycharges     0.068990
37           paymentmethod_Electronic check     0.046117
0                                        id     0.037797
17                       internetservice_No     0.021328
34                     paperlessbilling_Yes     0.011330
1                             seniorcitizen     0.010815
18                        onlinesecurity_No     0.008093
33                      paperlessbilling_No     0.007213
32                        contract_Two year     0.006185
24                           techsupport_No     0.003805
19                       onlinesecurity_Yes     0.003609
27                          streamingtv_Yes     0.003597
14                        multiplelines_Yes     0.003418
25                          techsupport_Yes     0.002828
31                        contract_One year     0.002737
29                      streamingmovies_Yes     0.002461
28                       streamingmovies_No     0.002445
15                      internetservice_DSL     0.002394
11                          phoneservice_No     0.002134
21                         onlinebackup_Yes     0.002009
6                               gender_Male     0.001622
13                         multiplelines_No     0.001357
7                                partner_No     0.001108
36    paymentmethod_Credit card (automatic)     0.001005
5                             gender_Female     0.000903
38               paymentmethod_Mailed check     0.000861
12                         phoneservice_Yes     0.000787
9                             dependents_No     0.000766
35  paymentmethod_Bank transfer (automatic)     0.000679
20                          onlinebackup_No     0.000620
26                           streamingtv_No     0.000374
22                      deviceprotection_No     0.000357
23                     deviceprotection_Yes     0.000234
8                               partner_Yes     0.000000
10                           dependents_Yes     0.000000

In [111]:
#primeiro drop de colunas
df_X.drop(columns = ['dependents_Yes', 'partner_Yes', 'deviceprotection_Yes',
                    'deviceprotection_No','streamingtv_No','onlinebackup_No'], inplace = True)

In [ ]:
X_treinamento, X_teste, y_treinamento, y_teste = train_test_split(df_X, df_y, test_size = 0.3)

In [112]:
df_X.head()

,id,seniorcitizen,tenure,monthlycharges,totalcharges,gender_Female,gender_Male,partner_No,dependents_No,phoneservice_No,phoneservice_Yes,multiplelines_No,multiplelines_Yes,internetservice_DSL,internetservice_Fiber optic,internetservice_No,onlinesecurity_No,onlinesecurity_Yes,onlinebackup_Yes,techsupport_No,techsupport_Yes,streamingtv_Yes,streamingmovies_No,streamingmovies_Yes,contract_Month-to-month,contract_One year,contract_Two year,paperlessbilling_No,paperlessbilling_Yes,paymentmethod_Bank transfer (automatic),paymentmethod_Credit card (automatic),paymentmethod_Electronic check,paymentmethod_Mailed check
0,4030,0,56.0,45.05,2560.10,1,0,1,1,1,0,1,0,1,0,0,0,1,1,0,1,0,1,0,0,0,1,1,0,0,1,0,0
1,6731,0,17.0,19.65,332.65,0,1,0,0,0,1,1,0,0,0,1,1,0,0,1,0,0,1,0,0,1,0,1,0,0,0,0,1
2,6479,0,60.0,110.80,6640.70,1,0,0,1,0,1,0,1,0,1,0,1,0,1,0,1,1,0,1,0,0,1,0,1,0,1,0,0
3,6861,0,37.0,101.90,3545.35,1,0,1,1,0,1,0,1,0,1,0,1,0,1,1,0,1,0,1,1,0,0,0,1,1,0,0,0
4,3266,0,29.0,70.75,1974.80,0,1,0,0,0,1,1,0,0,1,0,1,0,0,1,0,0,1,0,1,0,0,0,1,0,0,1,0

In [113]:
#segunda passada
ml_GB.fit(X_treinamento, y_treinamento)

GradientBoostingClassifier()

In [114]:
a_scores_CV = funcao_cross_val_score(ml_GB, X_treinamento, y_treinamento, CV=cv_i)

Média das Acurácias calculadas pelo CV....: 81.34
std médio das Acurácias calculadas pelo CV: 1.91

In [115]:
a_scores_CV

array([0.81012658, 0.80759494, 0.76202532, 0.82741117, 0.80964467,
       0.82233503, 0.8248731 , 0.81218274, 0.82233503, 0.83502538])

In [116]:
ml_GB.score(X_teste, y_teste)

0.7989355410999409

In [117]:
df_importantes = pd.DataFrame(zip(X_treinamento.columns, ml_GB.feature_importances_), columns = ['coluna', 'importancia'])
df_importantes.sort_values(by = 'importancia', ascending = False)

                                     coluna  importancia
30                  contract_Month-to-month     0.379648
2                                    tenure     0.144773
16              internetservice_Fiber optic     0.118077
4                              totalcharges     0.098026
3                            monthlycharges     0.068480
37           paymentmethod_Electronic check     0.046117
0                                        id     0.037756
17                       internetservice_No     0.021328
1                             seniorcitizen     0.010815
18                        onlinesecurity_No     0.010784
33                      paperlessbilling_No     0.010337
34                     paperlessbilling_Yes     0.008071
32                        contract_Two year     0.006468
24                           techsupport_No     0.004107
29                      streamingmovies_Yes     0.003952
13                         multiplelines_No     0.003634
27                          streamingtv_Yes     0.002952
15                      internetservice_DSL     0.002848
31                        contract_One year     0.002692
25                          techsupport_Yes     0.002526
11                          phoneservice_No     0.002246
21                         onlinebackup_Yes     0.001874
6                               gender_Male     0.001769
14                        multiplelines_Yes     0.001141
26                           streamingtv_No     0.001019
36    paymentmethod_Credit card (automatic)     0.001005
28                       streamingmovies_No     0.000953
7                                partner_No     0.000929
19                       onlinesecurity_Yes     0.000917
38               paymentmethod_Mailed check     0.000861
20                          onlinebackup_No     0.000851
10                           dependents_Yes     0.000766
12                         phoneservice_Yes     0.000675
35  paymentmethod_Bank transfer (automatic)     0.000441
22                      deviceprotection_No     0.000357
5                             gender_Female     0.000352
23                     deviceprotection_Yes     0.000274
8                               partner_Yes     0.000179
9                             dependents_No     0.000000

In [ ]:
'dependents_No', 'partner_Yes', 'deviceprotection_Yes','gender_Female',
                    'deviceprotection_No', 'paymentmethod_Bank transfer (automatic)','phoneservice_Yes',
                    'dependents_Yes', 'onlinebackup_No','paymentmethod_Mailed check', 'onlinesecurity_Yes',
                    'partner_No', 'streamingmovies_No', 'paymentmethod_Credit card (automatic)',
                    'multiplelines_Yes', 'gender_Male', 'onlinebackup_Yes', 'phoneservice_No', 'techsupport_Yes'

In [124]:
#segundo drop
df_X.drop(columns = ['dependents_No', 'gender_Female', 'paymentmethod_Bank transfer (automatic)','phoneservice_Yes',
                    'paymentmethod_Mailed check', 'onlinesecurity_Yes', 'partner_No', 'streamingmovies_No',
                    'paymentmethod_Credit card (automatic)', 'multiplelines_Yes', 'gender_Male',
                    'onlinebackup_Yes', 'phoneservice_No', 'techsupport_Yes'], inplace = True)

In [ ]:
X_treinamento, X_teste, y_treinamento, y_teste = train_test_split(df_X, df_y, test_size = 0.3)

In [125]:
#terceira passada
ml_GB.fit(X_treinamento, y_treinamento)

GradientBoostingClassifier()

In [126]:
a_scores_CV = funcao_cross_val_score(ml_GB, X_treinamento, y_treinamento, CV=cv_i)

Média das Acurácias calculadas pelo CV....: 81.34
std médio das Acurácias calculadas pelo CV: 1.91

In [127]:
a_scores_CV

array([0.81012658, 0.80759494, 0.76202532, 0.82741117, 0.80964467,
       0.82233503, 0.8248731 , 0.81218274, 0.82233503, 0.83502538])

In [128]:
ml_GB.score(X_teste, y_teste)

0.7989355410999409

In [129]:
df_importantes = pd.DataFrame(zip(X_treinamento.columns, ml_GB.feature_importances_), columns = ['coluna', 'importancia'])
df_importantes.sort_values(by = 'importancia', ascending = False)

                                     coluna  importancia
30                  contract_Month-to-month     0.379513
2                                    tenure     0.144347
16              internetservice_Fiber optic     0.118077
4                              totalcharges     0.097449
3                            monthlycharges     0.068735
37           paymentmethod_Electronic check     0.046521
0                                        id     0.037891
17                       internetservice_No     0.021328
33                      paperlessbilling_No     0.010943
1                             seniorcitizen     0.010815
18                        onlinesecurity_No     0.007953
34                     paperlessbilling_Yes     0.007464
32                        contract_Two year     0.006185
24                           techsupport_No     0.004400
29                      streamingmovies_Yes     0.003875
19                       onlinesecurity_Yes     0.003748
27                          streamingtv_Yes     0.002952
11                          phoneservice_No     0.002921
13                         multiplelines_No     0.002863
15                      internetservice_DSL     0.002848
31                        contract_One year     0.002737
25                          techsupport_Yes     0.002234
14                        multiplelines_Yes     0.001913
5                             gender_Female     0.001845
21                         onlinebackup_Yes     0.001520
20                          onlinebackup_No     0.001205
28                       streamingmovies_No     0.001031
26                           streamingtv_No     0.001019
36    paymentmethod_Credit card (automatic)     0.001005
8                               partner_Yes     0.000929
38               paymentmethod_Mailed check     0.000861
10                           dependents_Yes     0.000766
35  paymentmethod_Bank transfer (automatic)     0.000679
12                         phoneservice_Yes     0.000384
22                      deviceprotection_No     0.000357
6                               gender_Male     0.000276
23                     deviceprotection_Yes     0.000234
7                                partner_No     0.000179
9                             dependents_No     0.000000

In [132]:
df_X.head()

,id,seniorcitizen,tenure,monthlycharges,totalcharges,multiplelines_No,internetservice_DSL,internetservice_Fiber optic,internetservice_No,onlinesecurity_No,techsupport_No,streamingtv_Yes,streamingmovies_Yes,contract_Month-to-month,contract_One year,contract_Two year,paperlessbilling_No,paperlessbilling_Yes,paymentmethod_Electronic check
0,4030,0,56.0,45.05,2560.10,1,1,0,0,0,0,0,0,0,0,1,1,0,0
1,6731,0,17.0,19.65,332.65,1,0,0,1,1,1,0,0,0,1,0,1,0,0
2,6479,0,60.0,110.80,6640.70,0,0,1,0,1,0,1,1,0,0,1,0,1,0
3,6861,0,37.0,101.90,3545.35,0,0,1,0,1,1,1,1,1,0,0,0,1,0
4,3266,0,29.0,70.75,1974.80,1,0,1,0,1,1,0,0,1,0,0,0,1,1

In [133]:
df_X.columns

Index(['id', 'seniorcitizen', 'tenure', 'monthlycharges', 'totalcharges',
       'multiplelines_No', 'internetservice_DSL',
       'internetservice_Fiber optic', 'internetservice_No',
       'onlinesecurity_No', 'techsupport_No', 'streamingtv_Yes',
       'streamingmovies_Yes', 'contract_Month-to-month', 'contract_One year',
       'contract_Two year', 'paperlessbilling_No', 'paperlessbilling_Yes',
       'paymentmethod_Electronic check'],
      dtype='object')

In [134]:
#segundo drop
df_X.drop(columns = ['multiplelines_No', 'internetservice_DSL',
       'onlinesecurity_No', 'techsupport_No', 'streamingtv_Yes',
       'streamingmovies_Yes', 'contract_One year',
       'contract_Two year', 'paperlessbilling_Yes'], inplace = True)

In [137]:
df_X.shape

(5634, 10)

In [ ]:
X_treinamento, X_teste, y_treinamento, y_teste = train_test_split(df_X, df_y, test_size = 0.3)

In [138]:
#quarta passada
ml_GB.fit(X_treinamento, y_treinamento)

GradientBoostingClassifier()

In [139]:
a_scores_CV = funcao_cross_val_score(ml_GB, X_treinamento, y_treinamento, CV=cv_i)

Média das Acurácias calculadas pelo CV....: 81.34
std médio das Acurácias calculadas pelo CV: 1.91

In [140]:
a_scores_CV

array([0.81012658, 0.80759494, 0.76202532, 0.82741117, 0.80964467,
       0.82233503, 0.8248731 , 0.81218274, 0.82233503, 0.83502538])

In [141]:
ml_GB.score(X_teste, y_teste)

0.7989355410999409

In [142]:
df_X.columns

Index(['id', 'seniorcitizen', 'tenure', 'monthlycharges', 'totalcharges',
       'internetservice_Fiber optic', 'internetservice_No',
       'contract_Month-to-month', 'paperlessbilling_No',
       'paymentmethod_Electronic check'],
      dtype='object')

In [143]:
l_colunas = df_X.columns
l_colunas

Index(['id', 'seniorcitizen', 'tenure', 'monthlycharges', 'totalcharges',
       'internetservice_Fiber optic', 'internetservice_No',
       'contract_Month-to-month', 'paperlessbilling_No',
       'paymentmethod_Electronic check'],
      dtype='object')

In [144]:
i_CV=10

In [ ]:
# Dicionário de hiperparâmetros para o parameter tunning.
#d_hiperparametros_GB= {'learning_rate': [1, 0.5, 0.25, 0.1, 0.05, 0.01]} #,
#                  'n_estimators': [1, 2, 4, 8, 16, 32, 64, 100, 200],
#                  'max_depth': [5, 10, 15, 20, 25, 30],
#                  'min_samples_split': [0.1, 0.3, 0.5, 0.7, 0.9],
#                  'min_samples_leaf': [0.1, 0.2, 0.3, 0.4, 0.5],
#                  'max_features': list(range(1, X_treinamento.shape[1]))}

In [146]:
d_hiperparametros_GB= {'learning_rate': [1, 0.5],
                  'n_estimators': [10, 100, 200],
                  'max_depth': [ 20, 25, 30],
                  'min_samples_split': [0.1, 0.3, 0.5],
                  'min_samples_leaf': [0.1, 0.2],
                  'max_features': list(range(1, X_treinamento.shape[1]))}

In [ ]:
# Invoca a função
ml_GB2, best_params= GridSearchOptimizer(ml_GB, 'ml_GB2', d_hiperparametros_GB, X_treinamento, y_treinamento, X_teste, y_teste, i_CV, l_colunas)

In [ ]:
ml_Opt

In [ ]:
ml_GridSearchCV.best_params_

In [ ]:
# Como o procedimento acima levou 93 minutos para executar, então vou estimar ml_GB2 abaixo usando os parâmetros acima estimados
best_params= {'learning_rate': 1, 'max_depth': 30, 'max_features': 11, 'min_samples_leaf': 0.1, 'min_samples_split': 0.1, 'n_estimators': 100}

#ml_GB2= GradientBoostingClassifier(learning_rate= best_params['learning_rate'], 
#                                      max_depth= best_params['max_depth'],
#                                      max_features= best_params['max_features'],
#                                      min_samples_leaf= best_params['min_samples_leaf'],
#                                      min_samples_split= best_params['min_samples_split'],
#                                      n_estimators= best_params['n_estimators'],
#                                      random_state= i_Seed)

ml_GB2= GradientBoostingClassifier(learning_rate= best_params['learning_rate'], 
                                      max_depth= best_params['max_depth'],
                                      min_samples_leaf= best_params['min_samples_leaf'],
                                      min_samples_split= best_params['min_samples_split'],
                                      n_estimators= best_params['n_estimators'],
                                      random_state= i_Seed)

###trata categor

In [ ]:
'''df_churn_train.gender.replace(['Female', 'Male'], [1, 0], inplace=True)
df_churn_train.partner.replace(['Yes', 'No'], [1, 0], inplace=True)
df_churn_train.phoneservice.replace(['Yes', 'No'], [1, 0], inplace=True)
df_churn_train.paperlessbilling.replace(['Yes', 'No'], [1, 0], inplace=True)

In [ ]:
'''df_churn_train.internetservice.replace(['Fiber optic', 'DSL', 'No'], [1,2,0], inplace=True)
df_churn_train.paymentmethod.replace(['Electronic check', 'Bank transfer (automatic)', 'Mailed check', 'Credit card (automatic)'], [1,2,3,4], inplace=True)
df_churn_train.contract.replace(['Two year', 'One year', 'Month-to-month'], [0,1,2], inplace=True)
df_churn_train.multiplelines.replace(['No', 'Yes', 'No phone service'], [0,1,3], inplace=True)
df_churn_train.onlinesecurity.replace(['No', 'Yes', 'No internet service'], [0,1,2], inplace=True) 
df_churn_train.onlinebackup.replace(['No', 'Yes', 'No internet service'], [0,1,2], inplace=True)
df_churn_train.deviceprotection.replace(['No', 'Yes', 'No internet service'], [0,1,2], inplace=True)
df_churn_train.techsupport.replace(['No', 'Yes', 'No internet service'], [0,1,2], inplace=True)
df_churn_train.streamingtv.replace(['No', 'Yes', 'No internet service'], [0,1,2], inplace=True)
df_churn_train.streamingmovies.replace(['No', 'Yes', 'No internet service'], [0,1,2], inplace=True)

In [ ]:
'''df_churn_train.dependents.replace(['Yes', 'No'], [1, 0], inplace=True)

In [ ]:
'''df_churn_train.head()

,id,gender,seniorcitizen,partner,dependents,tenure,phoneservice,multiplelines,internetservice,onlinesecurity,onlinebackup,deviceprotection,techsupport,streamingtv,streamingmovies,contract,paperlessbilling,paymentmethod,monthlycharges,totalcharges,churn
0,4030,1,0,0,0,56.0,0,3,2,1,1,1,1,0,0,0,0,4,45.05,2560.10,0
1,6731,0,0,1,1,17.0,1,0,0,2,2,2,2,2,2,1,0,3,19.65,332.65,0
2,6479,1,0,1,0,60.0,1,1,1,0,1,1,1,1,1,0,1,4,110.80,6640.70,0
3,6861,1,0,0,0,37.0,1,1,1,0,1,1,0,1,1,2,1,2,101.90,3545.35,1
4,3266,0,0,1,1,29.0,1,0,1,0,0,0,0,0,0,2,1,1,70.75,1974.80,1

In [ ]:
'''df_churn_train.isna().sum()

id                  0
gender              0
seniorcitizen       0
partner             0
dependents          0
tenure              0
phoneservice        0
multiplelines       0
internetservice     0
onlinesecurity      0
onlinebackup        0
deviceprotection    0
techsupport         0
streamingtv         0
streamingmovies     0
contract            0
paperlessbilling    0
paymentmethod       0
monthlycharges      0
totalcharges        8
churn               0
dtype: int64

In [ ]:
l_index_charg = list(df_churn_train[df_churn_train['totalcharges'].isna()].index)
l_index_charg

[161, 416, 1766, 2145, 3375, 3404, 4008, 5151]

In [ ]:
df_churn_train.iloc[5151:5153]

,id,gender,seniorcitizen,partner,dependents,tenure,phoneservice,multiplelines,internetservice,onlinesecurity,onlinebackup,deviceprotection,techsupport,streamingtv,streamingmovies,contract,paperlessbilling,paymentmethod,monthlycharges,totalcharges,churn
5151,1341,1,0,1,1,0.0,0,3,2,1,1,1,1,1,0,0,0,4,56.05,NaN,0
5152,3749,0,0,0,0,48.0,1,0,2,0,1,1,1,1,1,0,0,4,78.90,3771.5,0

In [ ]:
for i in l_index_charg:
    df_churn_train['totalcharges'][i] = 0.0

In [ ]:
df_churn_train.isna().sum()

id                  0
gender              0
seniorcitizen       0
partner             0
dependents          0
tenure              0
phoneservice        0
multiplelines       0
internetservice     0
onlinesecurity      0
onlinebackup        0
deviceprotection    0
techsupport         0
streamingtv         0
streamingmovies     0
contract            0
paperlessbilling    0
paymentmethod       0
monthlycharges      0
totalcharges        0
churn               0
dtype: int64

In [ ]:
df_churn_train.head()

,id,gender,seniorcitizen,partner,dependents,tenure,phoneservice,multiplelines,internetservice,onlinesecurity,onlinebackup,deviceprotection,techsupport,streamingtv,streamingmovies,contract,paperlessbilling,paymentmethod,monthlycharges,totalcharges,churn
0,4030,1,0,0,0,56.0,0,3,2,1,1,1,1,0,0,0,0,4,45.05,2560.10,0
1,6731,0,0,1,1,17.0,1,0,0,2,2,2,2,2,2,1,0,3,19.65,332.65,0
2,6479,1,0,1,0,60.0,1,1,1,0,1,1,1,1,1,0,1,4,110.80,6640.70,0
3,6861,1,0,0,0,37.0,1,1,1,0,1,1,0,1,1,2,1,2,101.90,3545.35,1
4,3266,0,0,1,1,29.0,1,0,1,0,0,0,0,0,0,2,1,1,70.75,1974.80,1

In [ ]:
df_corr = df_churn_train.copy()

#####tratar test

In [ ]:
url = 'https://raw.githubusercontent.com/jjefferson2006/DSWP_JJ_altera/main/test.csv'
df_churn_test = pd.read_csv(url)
df_churn_test

        id  gender  ...  MonthlyCharges TotalCharges
0     5027    Male  ...           20.00        445.3
1     1733    Male  ...           99.00       5969.3
2     5384    Male  ...           84.75      3050.15
3     6554  Female  ...           61.45      3751.15
4      364  Female  ...           20.55        945.7
...    ...     ...  ...             ...          ...
1404  4897    Male  ...           49.70       1167.8
1405  6940    Male  ...           89.20       3251.3
1406   804  Female  ...           64.20       3009.5
1407  1143    Male  ...           75.20        775.3
1408  5773    Male  ...           81.95       5601.4

[1409 rows x 20 columns]

In [ ]:
#Normalizar as colunas
df_churn_test.columns = [col.lower() for col in df_churn_test.columns]
df_churn_test.head()

     id  gender  ...  monthlycharges totalcharges
0  5027    Male  ...           20.00        445.3
1  1733    Male  ...           99.00       5969.3
2  5384    Male  ...           84.75      3050.15
3  6554  Female  ...           61.45      3751.15
4   364  Female  ...           20.55        945.7

[5 rows x 20 columns]

In [ ]:
df_churn_test['dependents'].fillna('Yes', inplace=True)

In [ ]:
df_churn_test['paymentmethod'].fillna('Credit card (automatic)', inplace=True)

In [ ]:
df_churn_test['totalcharges'] = df_churn_test['totalcharges'].str.replace(',', '.')
df_churn_test['totalcharges'] = pd.to_numeric(df_churn_test['totalcharges'], errors= 'coerce')

In [ ]:
df_churn_test[['totalcharges']].isna().sum()

totalcharges    3
dtype: int64

In [ ]:
df_churn_test['tenure'].isna().sum()

118

In [ ]:
#atenção

In [ ]:
df_churn_test['tenure_esti']=round(df_churn_test['totalcharges']/df_churn_train['monthlycharges'],2)

In [ ]:
df_churn_test['tenure_rou']=round(df_churn_test['tenure_esti'])

In [ ]:
l_tot_ten = list(df_churn_test[df_churn_test['tenure'].isna()].index)
l_tot_ten

[8,
 15,
 32,
 38,
 41,
 54,
 69,
 82,
 113,
 117,
 118,
 125,
 149,
 172,
 173,
 185,
 193,
 213,
 238,
 246,
 268,
 277,
 287,
 295,
 318,
 324,
 339,
 351,
 355,
 363,
 377,
 417,
 467,
 476,
 483,
 487,
 495,
 498,
 511,
 513,
 516,
 517,
 518,
 561,
 562,
 563,
 573,
 599,
 624,
 629,
 635,
 638,
 641,
 654,
 660,
 662,
 669,
 677,
 678,
 728,
 729,
 734,
 740,
 747,
 764,
 765,
 791,
 796,
 805,
 817,
 820,
 827,
 835,
 842,
 861,
 888,
 897,
 910,
 912,
 918,
 925,
 926,
 928,
 952,
 953,
 958,
 973,
 979,
 987,
 1009,
 1012,
 1022,
 1034,
 1045,
 1051,
 1069,
 1107,
 1159,
 1163,
 1169,
 1173,
 1189,
 1200,
 1213,
 1222,
 1224,
 1254,
 1276,
 1303,
 1310,
 1325,
 1344,
 1367,
 1368,
 1385,
 1387,
 1389,
 1394]

In [ ]:
for i in l_tot_ten:
    df_churn_test['tenure'][i] = df_churn_test['tenure_rou'][i]

In [ ]:
df_churn_test.drop(columns=['tenure_esti','tenure_rou'], inplace=True)

In [ ]:
l_index_charg = list(df_churn_test[df_churn_test['totalcharges'].isna()].index)
l_index_charg

[313, 1063, 1297]

In [ ]:
df_churn_test[['tenure','totalcharges']][313:314]

     tenure  totalcharges
313     0.0           NaN

In [ ]:
for i in l_index_charg:
    df_churn_test['totalcharges'][i] = 0.0

In [ ]:
df_churn_test.isna().sum()

id                  0
gender              0
seniorcitizen       0
partner             0
dependents          0
tenure              0
phoneservice        0
multiplelines       0
internetservice     0
onlinesecurity      0
onlinebackup        0
deviceprotection    0
techsupport         0
streamingtv         0
streamingmovies     0
contract            0
paperlessbilling    0
paymentmethod       0
monthlycharges      0
totalcharges        0
dtype: int64

In [ ]:
df_churn_test['totalcharges'][313]

0.0

In [ ]:
df_churn_test.gender.replace(['Female', 'Male'], [1, 0], inplace=True)
df_churn_test.partner.replace(['Yes', 'No'], [1, 0], inplace=True)
df_churn_test.phoneservice.replace(['Yes', 'No'], [1, 0], inplace=True)
df_churn_test.paperlessbilling.replace(['Yes', 'No'], [1, 0], inplace=True)

In [ ]:
df_churn_test.internetservice.replace(['Fiber optic', 'DSL', 'No'], [1,2,0], inplace=True)
df_churn_test.paymentmethod.replace(['Electronic check', 'Bank transfer (automatic)', 'Mailed check', 'Credit card (automatic)'], [1,2,3,4], inplace=True)
df_churn_test.contract.replace(['Two year', 'One year', 'Month-to-month'], [0,1,2], inplace=True)
df_churn_test.multiplelines.replace(['No', 'Yes', 'No phone service'], [0,1,3], inplace=True)
df_churn_test.onlinesecurity.replace(['No', 'Yes', 'No internet service'], [0,1,2], inplace=True) 
df_churn_test.onlinebackup.replace(['No', 'Yes', 'No internet service'], [0,1,2], inplace=True)
df_churn_test.deviceprotection.replace(['No', 'Yes', 'No internet service'], [0,1,2], inplace=True)
df_churn_test.techsupport.replace(['No', 'Yes', 'No internet service'], [0,1,2], inplace=True)
df_churn_test.streamingtv.replace(['No', 'Yes', 'No internet service'], [0,1,2], inplace=True)
df_churn_test.streamingmovies.replace(['No', 'Yes', 'No internet service'], [0,1,2], inplace=True)

In [ ]:
df_churn_test.dependents.replace(['Yes', 'No'], [1, 0], inplace=True)

In [ ]:
df_churn_test.isna().sum()

id                  0
gender              0
seniorcitizen       0
partner             0
dependents          0
tenure              0
phoneservice        0
multiplelines       0
internetservice     0
onlinesecurity      0
onlinebackup        0
deviceprotection    0
techsupport         0
streamingtv         0
streamingmovies     0
contract            0
paperlessbilling    0
paymentmethod       0
monthlycharges      0
totalcharges        0
dtype: int64

In [ ]:
l_index_charg1 = list(df_churn_test[df_churn_test['totalcharges'].isna()].index)
l_index_charg1

[]

In [ ]:
df_churn_test.iloc[313:314]

       id  gender  seniorcitizen  ...  paymentmethod  monthlycharges  totalcharges
313  4381       1              0  ...              3            20.0           0.0

[1 rows x 20 columns]

In [ ]:
df_churn_test.head()

     id  gender  seniorcitizen  ...  paymentmethod  monthlycharges  totalcharges
0  5027       0              0  ...              4           20.00        445.30
1  1733       0              1  ...              4           99.00       5969.30
2  5384       0              0  ...              1           84.75       3050.15
3  6554       1              0  ...              2           61.45       3751.15
4   364       1              0  ...              3           20.55        945.70

[5 rows x 20 columns]

In [ ]:
df_churn_test.drop(columns = ['multiplelines', 'streamingmovies', 'totalcharges'], inplace = True)

In [ ]:
df_churn_test.head()

     id  gender  seniorcitizen  ...  paperlessbilling  paymentmethod  monthlycharges
0  5027       0              0  ...                 1              4           20.00
1  1733       0              1  ...                 0              4           99.00
2  5384       0              0  ...                 1              1           84.75
3  6554       1              0  ...                 1              2           61.45
4   364       1              0  ...                 1              3           20.55

[5 rows x 17 columns]

In [ ]:
df_churn_test.drop(columns = ['deviceprotection', 'onlinebackup', 'streamingtv', 'techsupport'], inplace = True)

In [ ]:
df_churn_test.drop(columns=['gender','paperlessbilling' ], inplace = True)

In [ ]:
df_churn_test.drop(columns=['phoneservice','dependents' ], inplace = True)

In [ ]:
df_churn_test

        id  seniorcitizen  partner  ...  contract  paymentmethod  monthlycharges
0     5027              0        1  ...         1              4           20.00
1     1733              1        1  ...         1              4           99.00
2     5384              0        0  ...         2              1           84.75
3     6554              0        1  ...         0              2           61.45
4      364              0        0  ...         0              3           20.55
...    ...            ...      ...  ...       ...            ...             ...
1404  4897              0        0  ...         2              3           49.70
1405  6940              0        0  ...         1              1           89.20
1406   804              0        1  ...         0              4           64.20
1407  1143              1        1  ...         2              4           75.20
1408  5773              0        1  ...         0              2           81.95

[1409 rows x 9 columns]

###drop no treino

In [ ]:
df_corr_treino.drop(columns=['gender','paperlessbilling' ], inplace = True)

In [ ]:
df_corr_treino.drop(columns=['phoneservice','dependents' ], inplace = True)

KeyError: ignored

In [ ]:
df_corr_treino

        id  seniorcitizen  partner  ...  paymentmethod  monthlycharges  churn
0     4030              0        0  ...              4           45.05      0
1     6731              0        1  ...              3           19.65      0
2     6479              0        1  ...              4          110.80      0
3     6861              0        0  ...              2          101.90      1
4     3266              0        1  ...              1           70.75      1
...    ...            ...      ...  ...            ...             ...    ...
5629  6684              0        0  ...              1           44.15      0
5630   604              0        0  ...              1          108.65      0
5631  4803              0        0  ...              2           54.65      0
5632  6317              0        1  ...              3           25.25      0
5633   103              0        0  ...              2           95.00      0

[5634 rows x 10 columns]

###automl

In [ ]:
clf = setup(data = df_corr_treino,
            target = 'churn',
            #numeric_features = ['tenure', 'monthlycharges', 'totalcharges'] 
            #numeric_imputation = 'mean'
            categorical_features = ['seniorcitizen', 'partner', 'internetservice', 'onlinesecurity',
            'contract', 'paymentmethod'], # lista das variáveis categóricas
            ignore_features = ['id'], 
            silent = False)

                               Description             Value
0                               session_id              3607
1                                   Target             churn
2                              Target Type            Binary
3                            Label Encoded        0: 0, 1: 1
4                            Original Data        (5634, 10)
5                           Missing Values             False
6                         Numeric Features                 2
7                     Categorical Features                 6
8                         Ordinal Features             False
9                High Cardinality Features             False
10                 High Cardinality Method              None
11                   Transformed Train Set        (3943, 16)
12                    Transformed Test Set        (1691, 16)
13                      Shuffle Train-Test              True
14                     Stratify Train-Test             False
15                          Fold Generator   StratifiedKFold
16                             Fold Number                10
17                                CPU Jobs                -1
18                                 Use GPU             False
19                          Log Experiment             False
20                         Experiment Name  clf-default-name
21                                     USI              e3d4
22                         Imputation Type            simple
23          Iterative Imputation Iteration              None
24                         Numeric Imputer              mean
25      Iterative Imputation Numeric Model              None
26                     Categorical Imputer          constant
27  Iterative Imputation Categorical Model              None
28           Unknown Categoricals Handling    least_frequent
29                               Normalize             False
30                        Normalize Method              None
31                          Transformation             False
32                   Transformation Method              None
33                                     PCA             False
34                              PCA Method              None
35                          PCA Components              None
36                     Ignore Low Variance             False
37                     Combine Rare Levels             False
38                    Rare Level Threshold              None
39                         Numeric Binning             False
40                         Remove Outliers             False
41                      Outliers Threshold              None
42                Remove Multicollinearity             False
43             Multicollinearity Threshold              None
44                              Clustering             False
45                    Clustering Iteration              None
46                     Polynomial Features             False
47                       Polynomial Degree              None
48                    Trignometry Features             False
49                    Polynomial Threshold              None
50                          Group Features             False
51                       Feature Selection             False
52            Features Selection Threshold              None
53                     Feature Interaction             False
54                           Feature Ratio             False
55                   Interaction Threshold              None
56                           Fix Imbalance             False
57                    Fix Imbalance Method             SMOTE

In [ ]:
compare_models()

,Model,Accuracy,AUC,Recall,Prec.,F1,Kappa,MCC,TT (Sec)
ada,Ada Boost Classifier,0.8037,0.8514,0.5552,0.6538,0.5984,0.4700,0.4741,0.185
gbc,Gradient Boosting Classifier,0.8017,0.8515,0.5225,0.6607,0.5806,0.4536,0.4607,0.330
catboost,CatBoost Classifier,0.8002,0.8443,0.5302,0.6537,0.5832,0.4540,0.4597,2.678
lr,Logistic Regression,0.7984,0.8484,0.5341,0.6472,0.5828,0.4518,0.4570,0.164
lightgbm,Light Gradient Boosting Machine,0.7984,0.8360,0.5341,0.6468,0.5831,0.4520,0.4568,0.186
ridge,Ridge Classifier,0.7974,0.0000,0.4976,0.6572,0.5640,0.4356,0.4441,0.020
lda,Linear Discriminant Analysis,0.7974,0.8458,0.5629,0.6334,0.5944,0.4602,0.4627,0.031
xgboost,Extreme Gradient Boosting,0.7847,0.8251,0.5139,0.6133,0.5571,0.4167,0.4209,0.671
knn,K Neighbors Classifier,0.7776,0.7869,0.5004,0.5971,0.5428,0.3976,0.4014,0.127
rf,Random Forest Classifier,0.7720,0.8020,0.4745,0.5867,0.5232,0.3759,0.3804,0.669
nb,Naive Bayes,0.7499,0.8366,0.7992,0.5181,0.6282,0.4527,0.4773,0.022
et,Extra Trees Classifier,0.7499,0.7761,0.4870,0.5305,0.5068,0.3400,0.3411,0.619
dt,Decision Tree Classifier,0.7274,0.6546,0.4909,0.4841,0.4866,0.3014,0.3018,0.028
svm,SVM - Linear Kernel,0.6736,0.0000,0.7721,0.4103,0.5266,0.3258,0.3775,0.045
qda,Quadratic Discriminant Analysis,0.5759,0.5878,0.6130,0.3590,0.3904,0.1377,0.1812,0.023

AdaBoostClassifier(algorithm='SAMME.R', base_estimator=None, learning_rate=1.0,
                   n_estimators=50, random_state=3607)

In [ ]:
lr = create_model('lr')

      Accuracy     AUC  Recall   Prec.      F1   Kappa     MCC
0       0.8177  0.8501  0.5714  0.6897  0.6250  0.5060  0.5099
1       0.8152  0.8590  0.5048  0.7162  0.5922  0.4773  0.4895
2       0.7797  0.8368  0.4952  0.6047  0.5445  0.4012  0.4046
3       0.7995  0.8371  0.5481  0.6404  0.5907  0.4590  0.4614
4       0.8020  0.8381  0.5673  0.6413  0.6020  0.4709  0.4725
5       0.8020  0.8480  0.5385  0.6512  0.5895  0.4606  0.4642
6       0.8376  0.8723  0.5385  0.7778  0.6364  0.5362  0.5512
7       0.8046  0.8583  0.5769  0.6452  0.6091  0.4794  0.4807
8       0.7868  0.8476  0.5238  0.6180  0.5670  0.4269  0.4294
9       0.7944  0.8542  0.6000  0.6176  0.6087  0.4693  0.4694
Mean    0.8040  0.8501  0.5464  0.6602  0.5965  0.4687  0.4733
SD      0.0156  0.0108  0.0314  0.0506  0.0253  0.0355  0.0382

In [ ]:
ada = create_model('ada')

      Accuracy     AUC  Recall   Prec.      F1   Kappa     MCC
0       0.8025  0.8462  0.5385  0.6512  0.5895  0.4610  0.4646
1       0.8076  0.8728  0.6250  0.6373  0.6311  0.5009  0.5010
2       0.7975  0.8412  0.5619  0.6344  0.5960  0.4615  0.4630
3       0.8122  0.8720  0.5096  0.6974  0.5889  0.4710  0.4807
4       0.8046  0.8548  0.5865  0.6421  0.6131  0.4827  0.4836
5       0.7919  0.8257  0.6058  0.6058  0.6058  0.4644  0.4644
6       0.8046  0.8506  0.4808  0.6849  0.5650  0.4439  0.4555
7       0.8173  0.8495  0.5481  0.6951  0.6129  0.4955  0.5015
8       0.7868  0.8317  0.5673  0.6020  0.5842  0.4410  0.4413
9       0.8122  0.8696  0.5288  0.6875  0.5978  0.4780  0.4850
Mean    0.8037  0.8514  0.5552  0.6538  0.5984  0.4700  0.4741
SD      0.0090  0.0155  0.0415  0.0339  0.0174  0.0188  0.0186

In [ ]:
tuned_ada = tune_model(ada)

      Accuracy     AUC  Recall   Prec.      F1   Kappa     MCC
0       0.8203  0.8526  0.5673  0.6941  0.6243  0.5078  0.5122
1       0.8152  0.8761  0.6154  0.6598  0.6368  0.5131  0.5136
2       0.8025  0.8486  0.5619  0.6484  0.6020  0.4716  0.4738
3       0.8122  0.8701  0.5288  0.6875  0.5978  0.4780  0.4850
4       0.8147  0.8601  0.5769  0.6742  0.6218  0.5001  0.5027
5       0.8071  0.8256  0.6346  0.6346  0.6346  0.5036  0.5036
6       0.8147  0.8608  0.4808  0.7246  0.5780  0.4655  0.4816
7       0.8096  0.8465  0.5385  0.6747  0.5989  0.4762  0.4814
8       0.7944  0.8291  0.5865  0.6162  0.6010  0.4626  0.4629
9       0.8147  0.8746  0.5192  0.7013  0.5967  0.4799  0.4890
Mean    0.8105  0.8544  0.5610  0.6715  0.6092  0.4858  0.4906
SD      0.0071  0.0166  0.0436  0.0310  0.0181  0.0176  0.0160

In [ ]:
tuned_lr = tune_model(lr)

      Accuracy     AUC  Recall   Prec.      F1   Kappa     MCC
0       0.8152  0.8502  0.5619  0.6860  0.6178  0.4975  0.5018
1       0.8152  0.8585  0.5048  0.7162  0.5922  0.4773  0.4895
2       0.7823  0.8363  0.4952  0.6118  0.5474  0.4061  0.4100
3       0.7995  0.8368  0.5385  0.6437  0.5864  0.4554  0.4586
4       0.8020  0.8375  0.5673  0.6413  0.6020  0.4709  0.4725
5       0.8046  0.8490  0.5481  0.6552  0.5969  0.4692  0.4725
6       0.8376  0.8724  0.5385  0.7778  0.6364  0.5362  0.5512
7       0.8096  0.8583  0.5865  0.6559  0.6193  0.4929  0.4943
8       0.7868  0.8475  0.5238  0.6180  0.5670  0.4269  0.4294
9       0.7944  0.8544  0.6000  0.6176  0.6087  0.4693  0.4694
Mean    0.8047  0.8501  0.5465  0.6623  0.5974  0.4702  0.4749
SD      0.0151  0.0109  0.0319  0.0492  0.0248  0.0345  0.0370

In [ ]:
gbc = create_model('gbc')

      Accuracy     AUC  Recall   Prec.      F1   Kappa     MCC
0       0.8076  0.8597  0.5481  0.6628  0.6000  0.4748  0.4785
1       0.8025  0.8502  0.5288  0.6548  0.5851  0.4575  0.4619
2       0.8025  0.8305  0.4857  0.6800  0.5667  0.4434  0.4539
3       0.8122  0.8580  0.5962  0.6596  0.6263  0.5013  0.5024
4       0.8147  0.8607  0.5577  0.6824  0.6138  0.4935  0.4978
5       0.8020  0.8349  0.5192  0.6585  0.5806  0.4534  0.4589
6       0.8096  0.8640  0.5096  0.6883  0.5856  0.4656  0.4745
7       0.7716  0.8003  0.4808  0.5814  0.5263  0.3776  0.3805
8       0.7538  0.7957  0.4519  0.5402  0.4921  0.3314  0.3337
9       0.8147  0.8471  0.5288  0.6962  0.6011  0.4833  0.4911
Mean    0.7991  0.8401  0.5207  0.6504  0.5778  0.4482  0.4533
SD      0.0192  0.0235  0.0395  0.0476  0.0386  0.0509  0.0516

In [ ]:
tuned_gbc = tune_model(gbc)

      Accuracy     AUC  Recall   Prec.      F1   Kappa     MCC
0       0.8025  0.8666  0.5577  0.6444  0.5979  0.4680  0.4701
1       0.8203  0.8619  0.5385  0.7089  0.6120  0.4979  0.5058
2       0.7975  0.8225  0.4762  0.6667  0.5556  0.4291  0.4393
3       0.8249  0.8643  0.6250  0.6842  0.6533  0.5364  0.5374
4       0.8173  0.8561  0.5865  0.6778  0.6289  0.5085  0.5108
5       0.8046  0.8313  0.5192  0.6667  0.5838  0.4587  0.4648
6       0.8096  0.8679  0.5096  0.6883  0.5856  0.4656  0.4745
7       0.7741  0.8005  0.4904  0.5862  0.5340  0.3865  0.3892
8       0.7538  0.7968  0.4519  0.5402  0.4921  0.3314  0.3337
9       0.8071  0.8541  0.5385  0.6667  0.5957  0.4710  0.4756
Mean    0.8012  0.8422  0.5293  0.6530  0.5839  0.4553  0.4601
SD      0.0207  0.0260  0.0492  0.0488  0.0444  0.0570  0.0572

In [ ]:
catb = create_model('catboost')

      Accuracy     AUC  Recall   Prec.      F1   Kappa     MCC
0       0.8304  0.8637  0.5962  0.7126  0.6492  0.5385  0.5423
1       0.8177  0.8345  0.5192  0.7105  0.6000  0.4856  0.4957
2       0.8076  0.8665  0.6190  0.6436  0.6311  0.5010  0.5012
3       0.7970  0.8225  0.5577  0.6304  0.5918  0.4574  0.4589
4       0.8198  0.8723  0.6346  0.6667  0.6502  0.5290  0.5293
5       0.8071  0.8755  0.5865  0.6489  0.6162  0.4878  0.4889
6       0.7944  0.8155  0.5481  0.6264  0.5846  0.4488  0.4506
7       0.8173  0.8657  0.4904  0.7286  0.5862  0.4746  0.4899
8       0.7995  0.8528  0.5192  0.6506  0.5775  0.4483  0.4532
9       0.8173  0.8562  0.5577  0.6905  0.6170  0.4988  0.5037
Mean    0.8108  0.8525  0.5629  0.6709  0.6104  0.4870  0.4914
SD      0.0110  0.0201  0.0439  0.0351  0.0253  0.0296  0.0291

In [ ]:
tuned_catb = tune_model(catb)

      Accuracy     AUC  Recall   Prec.      F1   Kappa     MCC
0       0.8304  0.8696  0.5962  0.7126  0.6492  0.5385  0.5423
1       0.8203  0.8537  0.5000  0.7324  0.5943  0.4841  0.4986
2       0.8127  0.8690  0.5714  0.6742  0.6186  0.4955  0.4985
3       0.8096  0.8453  0.5192  0.6835  0.5902  0.4692  0.4767
4       0.8274  0.8757  0.6346  0.6875  0.6600  0.5446  0.5454
5       0.8046  0.8797  0.5577  0.6517  0.6010  0.4727  0.4752
6       0.8046  0.8255  0.5481  0.6552  0.5969  0.4692  0.4725
7       0.8198  0.8803  0.5192  0.7200  0.6034  0.4907  0.5017
8       0.8147  0.8636  0.5577  0.6824  0.6138  0.4935  0.4978
9       0.8147  0.8560  0.5385  0.6914  0.6054  0.4868  0.4933
Mean    0.8159  0.8618  0.5543  0.6891  0.6133  0.4945  0.5002
SD      0.0083  0.0163  0.0377  0.0250  0.0223  0.0253  0.0241

In [ ]:
predic = predict_model(tuned_ada, data = df_churn_test)
predic

      seniorcitizen  partner  tenure  ...  monthlycharges  Label   Score
0                 0        1    23.0  ...           20.00      0  0.5291
1                 1        1    61.0  ...           99.00      0  0.5104
2                 0        0    36.0  ...           84.75      0  0.5030
3                 0        1    61.0  ...           61.45      0  0.5324
4                 0        0    47.0  ...           20.55      0  0.5391
...             ...      ...     ...  ...             ...    ...     ...
1404              0        0    24.0  ...           49.70      0  0.5142
1405              0        0    35.0  ...           89.20      0  0.5138
1406              0        1    46.0  ...           64.20      0  0.5279
1407              1        1    11.0  ...           75.20      1  0.5026
1408              0        1    69.0  ...           81.95      0  0.5317

[1409 rows x 10 columns]

In [ ]:
predic['Score'].mean()

0.516386941092972

In [ ]:
predic['Score'].median()

0.5119

In [ ]:
predic['Score'].std()

0.015189865129068237

In [ ]:
pred_val = predic['Label']

In [ ]:
from google.colab import files

In [ ]:
ids = df_churn_test['id']
output = pd.DataFrame({'id': ids, 'Churn': pred_val})
output.to_csv('submission34lr.csv', index=False)
files.download('submission34lr.csv')